@if $enable-grid-classes {
    .row {
      @include make-row();
      @if($debug) {
        border: 1px dotted $danger-color;
      }
    }
  
    // Remove the negative margin from default .row, then the horizontal padding
    // from all immediate children columns (to prevent runaway style inheritance).
    .no-gutters {
      margin-right: 0;
      margin-left: 0;
  
      > .col,
      > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  
@if $enable-grid-classes {
  @include make-grid-columns();
}

//Grid vertical and horizontal alignment helper classes
.align_top {
  align-items: flex-start;
}

.align_center {
  align-items: center;
}

.align_bottom {
  align-items: flex-end
}

.justify_left {
  justify-content: flex-start;
}

.justify_right {
  justify-content: flex-end;
}

.justify_center {
  justify-content: center
}

.space_around {
  justify-content: space-around;
}

.space_between {
  justify-content: space-between;
}

.space_even {
  justify-content: space-evenly;
}