<div class="container">
  <div class="row u-bg-primary u-margin--btm-md">
    <div class="col">
      <h1 class="u-has-font--bolder u-is--uppercase u-margin--btm-sm u-padding--sm u-padding--none u-text-primary-lighten">Utilities</h1>
    </div>
  </div>

  <div class="row u-margin--btm-md">
    <div class="col-12">
      <hr>
      <h2>Text alignment</h2>
      <hr>
      <p class="u-has-text--left">Left aligned text on all viewport sizes.</p>
      <p class="u-has-text--centered">Center aligned text on all viewport sizes.</p>
      <p class="u-has-text--right">Right aligned text on all viewport sizes.</p>
    </div>
    <div class="col-12">
        <pre><code highlight [code]="textAlignment"></code></pre>
    </div>
  </div>

  <div class="row u-margin--btm-md">
    <div class="col-12">
      <hr>
      <h2>Text transform</h2>
      <hr>
      <p class="u-is--lowercase">Lowercased Text.</p>
      <p class="u-is--uppercase">uppercased text.</p>
      <p class="u-is--capitalised">capitalized text.</p>
      <p class="u-is--italic">italic text.</p>
    </div>
    <div class="col-12">
        <pre><code highlight [code]="textTransform"></code></pre>
    </div>
  </div>

  <div class="row u-margin--btm-md">
    <div class="col-12">
      <hr>
      <h2>Font weight and italics</h2>
      <hr>
      <p class="u-has-font--bold">Bold text.</p>
      <p class="u-has-font--normal">Normal weight text.</p>
      <p class="u-has-font--light">Light weight text.</p>
      <p class="u-has-font--bolder">Very bold text.</p>
      <p class="u-is--italic">Italic text.</p>
    </div>
    <div class="col-12">
        <pre><code highlight [code]="fontWeight"></code></pre>
    </div>
  </div>

  <div class="row u-margin--btm-md">
      <div class="col-12">
        <hr>
        <h2>Spacing</h2>
        <hr>
        <table class="u-table u-content u-padding--btm-sm">
          <tr>
            <th>Variable</th>
            <th>Rem</th>
            <th>Pixel</th>
          </tr>
          <tr>
            <td>$size-0</td>
            <td>0.625rem</td>
            <td>10px</td>
          </tr>
          <tr>
            <td>$size-1</td>
            <td>0.75rem</td>
            <td>12px</td>
          </tr>
          <tr>
            <td>$size-2</td>
            <td>0.875rem</td>
            <td>14px</td>
          </tr>
          <tr>
            <td>$size-3</td>
            <td>1rem</td>
            <td>16px</td>
          </tr>
          <tr>
            <td>$size-4</td>
            <td>1.125rem</td>
            <td>18px</td>
          </tr>
          <tr>
            <td>$size-5</td>
            <td>1.25rem</td>
            <td>20px</td>
          </tr>
          <tr>
            <td>$size-6</td>
            <td>1.5rem</td>
            <td>24px</td>
          </tr>
        </table>
      </div>
    </div>

  <div class="row u-margin--btm-md">
    <div class="col-12">
      <hr>
      <h2>Paddings & Margins</h2>
      <hr>

      <table class="u-table u-content--center u-padding--btm-sm">
        <tr>
          <th>Shorthand</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>sm</td>
          <td>small</td>
        </tr>
        <tr>
          <td>md</td>
          <td>medium</td>
        </tr>
        <tr>
          <td>lg</td>
          <td>large</td>
        </tr>
        <tr>
          <td>xlg</td>
          <td>extra large</td>
        </tr>
        <tr>
          <td>h</td>
          <td>horizontal</td>
        </tr>
        <tr>
          <td>v</td>
          <td>vertical</td>
        </tr>
        <tr>
          <td>lft</td>
          <td>left</td>
        </tr>
        <tr>
          <td>rgt</td>
          <td>right</td>
        </tr>
        <tr>
          <td>tp</td>
          <td>top</td>
        </tr>
        <tr>
          <td>btm</td>
          <td>bottom</td>
        </tr>
      </table>

      <div class="col-12">
          <div class="u-padding--btm-sm">
            <h3>Uniform padding</h3>
            <div class="u-bg-primary u-display--inline-block u-padding--none u-margin--rgt-sm">
              <div class="u-display--inline-block u-bg-wtrans">.u-padding--none</div>
            </div>
            <div class="u-bg-primary u-display--inline-block u-padding--sm u-margin--rgt-sm">
              <div class="u-display--inline-block u-bg-wtrans">.u-padding--sm</div>
            </div>
            <div class="u-bg-primary u-display--inline-block u-padding--md u-margin--rgt-sm">
              <div class="u-display--inline-block u-bg-wtrans">.u-padding--md</div>
            </div>
            <div class="u-bg-primary u-display--inline-block u-padding--lg u-margin--rgt-sm">
              <div class="u-display--inline-block u-bg-wtrans">.u-padding--lg</div>
            </div>
            <div class="u-bg-primary u-display--inline-block u-padding--xlg u-margin--rgt-sm">
              <div class="u-display--inline-block u-bg-wtrans">.u-padding--xlg</div>
            </div>
          </div>
      </div>
      <div class="col-12">
          <pre><code highlight [code]="uniformPadding"></code></pre>
      </div>
      <div class="col-12">
          <div class="u-margin--btm-sm">
              <h3>Uniform margins</h3>
              <div class="u-bg-primary u-display--inline-block u-margin--rgt-sm">
                  <div class="u-display--inline-block u-bg-wtrans u-margin--none">.u-margin--none</div>
              </div>
              <div class="u-bg-primary u-display--inline-block u-margin--rgt-sm">
                <div class="u-display--inline-block u-bg-wtrans u-margin--sm">.u-margin--sm</div>
              </div>
              <div class="u-bg-primary u-display--inline-block u-margin--rgt-sm">
                <div class="u-display--inline-block u-bg-wtrans u-margin--md">.u-margin--md</div>
              </div>
              <div class="u-bg-primary u-display--inline-block u-margin--rgt-sm">
                <div class="u-display--inline-block u-bg-wtrans u-margin--lg">.u-margin--lg</div>
              </div>
          </div>
      </div>
      <div class="col-12">
          <pre><code highlight [code]="uniformMargins"></code></pre>
      </div>
    </div>
  </div>

  <div class="row u-margin--btm-md">
      <div class="col-12">
        <hr>
        <h2>Borders</h2>

        <div class="row u-margin--btm-sm">
            <div class="u-border col">
                .u-border
            </div>
          <div class="u-border--left col">
              .u-border--left
          </div>
          <div class="u-border--top col">
            .u-border--top
          </div>
          <div class="u-border--bottom col">
            .u-border--bottom
          </div>
          <div class="u-border--right col">
            .u-border--right
          </div>
        </div>
      </div>
    </div>

  <div class="row u-margin--btm-md">
    <div class="col-12">
      <hr>
      <h2>Positioning</h2>
      <hr>
      
      <div>Not positioned</div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr>
      <h2>Colors</h2>
      <hr>
    </div>
  </div>
  
  <div class="row u-margin--btm-md">
    <div class="col-6">
      <h3>Text</h3>
      <p class="u-text-primary">.u-text-primary</p>
      <p class="u-text-secondary">.u-text-secondary</p>
      <p class="u-text-success">.u-text-success</p>
      <p class="u-text-danger">.u-text-danger</p>
      <p class="u-text-warning">.u-text-warning</p>
      <p class="u-text-info">.u-text-info</p>
    </div>

    <div class="col-6">
      <h3>Links</h3>
      <p><a href="#" class="c-btn__link u-text-primary">Primary link</a></p>
      <p><a href="#" class="c-btn__link u-text-secondary">Secondary link</a></p>
      <p><a href="#" class="c-btn__link u-text-success">Success link</a></p>
      <p><a href="#" class="c-btn__link u-text-danger">Danger link</a></p>
      <p><a href="#" class="c-btn__link u-text-warning">Warning link</a></p>
      <p><a href="#" class="c-btn__link u-text-info">Info link</a></p>
    </div>
    <div class="col-12">
        <pre><code highlight [code]="textAndLinks"></code></pre>
    </div>

    <div class="col-12">
      <h3>Backgrounds</h3>
      <div class="u-bg-primary u-content--left u-margin--btm-sm u-padding--sm">
          <div class="u-text-primary--darken">.u-bg-primary .u-text-primary--darken</div>
      </div>
      <div class="u-bg-secondary u-content--left u-margin--btm-sm u-padding--sm">
          <div class="u-text-secondary--darken">.u-bg-secondary .u-text-secondary--darken</div>
      </div> 
      <div class="u-bg-vegas u-content--left u-margin--btm-sm u-padding--sm">
          <div class="u-text-vegas--darken">.u-bg-vegas .u-text-vegas--darken</div>
      </div> 
 
      <div class="u-bg-inplay u-content--left u-margin--btm-sm u-padding--sm">
          <div class="u-text-inplay--darken">.u-bg-inplay .u-text-inplay--darken</div>
      </div> 

      <div class="u-bg-sports u-content--left u-margin--btm-sm u-padding--sm">
          <div class="u-text-sports--darken">.u-bg-sports .u-text-sports--darken</div>
      </div>
      <div class="u-bg-casino u-content--left u-margin--btm-sm u-padding--sm">
          <div class="u-text-casino--darken">.u-bg-casino .u-text-casino--darken</div>
      </div>
      <div class="u-bg-lcasino u-content--left u-margin--btm-sm u-padding--sm">
          <div class="u-text-lcasino--darken">.u-bg-lcasino .u-text-lcasino--darken</div>
      </div>
      <div class="u-bg-success u-content--left u-margin--btm-sm u-padding--sm">
          <div class="u-text-success--darken">.u-bg-success .u-text-success--darken</div>
      </div>
      <div class="u-bg-warning u-content--left u-margin--btm-sm u-padding--sm">
          <div class="u-text-warning--darken">.u-bg-warning .u-text-warning--darken</div>
      </div>
      <div class="u-bg-info u-content--left u-margin--btm-sm u-padding--sm">
          <div class="u-text-info--darken">.u-bg-info .u-text-info--darken</div>
      </div>
      <div class="u-bg-danger u-content--left u-margin--btm-sm u-padding--sm">
          <div class="u-text-danger--darken">.u-bg-danger .u-text-danger--darken</div>
      </div>
    </div>
    <div class="col-12">
        <pre><code highlight [code]="backgrounds"></code></pre>
    </div>
  </div>
</div>