<div class="container">
  <div class="row bg-betting u-margin--btm-md">
    <div class="col">
      <h1 class="u-has-font--bolder u-is--uppercase u-margin--btm-sm u-padding--sm u-padding--none text-primary-lighten">Utilities</h1>
    </div>
  </div>

  <div class="row u-margin--btm-md">
    <div class="col-12">
      <hr>
      <h2>Text alignment</h2>
      <hr>
      <p class="u-has-text--left">Left aligned text on all viewport sizes.</p>
      <p class="u-has-text--centered">Center aligned text on all viewport sizes.</p>
      <p class="u-has-text--right">Right aligned text on all viewport sizes.</p>
    </div>
    <div class="col-12">
        <pre><code highlight [code]="textAlignment"></code></pre>
    </div>
  </div>

  <div class="row u-margin--btm-md">
    <div class="col-12">
      <hr>
      <h2>Text transform</h2>
      <hr>
      <p class="u-is--lowercase">Lowercased Text.</p>
      <p class="u-is--uppercase">uppercased text.</p>
      <p class="u-is--capitalised">capitalized text.</p>
      <p class="u-is--italic">italic text.</p>
    </div>
    <div class="col-12">
        <pre><code highlight [code]="textTransform"></code></pre>
    </div>
  </div>

  <div class="row u-margin--btm-md">
    <div class="col-12">
      <hr>
      <h2>Font weight and italics</h2>
      <hr>
      <p class="u-has-font--bold">Bold text.</p>
      <p class="u-has-font--normal">Normal weight text.</p>
      <p class="u-has-font--light">Light weight text.</p>
      <p class="u-has-font--bolder">Very bold text.</p>
      <p class="u-is--italic">Italic text.</p>
    </div>
    <div class="col-12">
        <pre><code highlight [code]="fontWeight"></code></pre>
    </div>
  </div>

  <div class="row u-margin--btm-md">
      <div class="col-12">
        <hr>
        <h2>Spacing</h2>
        <hr>
        <table class="u-table u-content u-padding--btm-sm">
          <tr>
            <th>Variable</th>
            <th>Rem</th>
            <th>Pixel</th>
          </tr>
          <tr>
            <td>$size-0</td>
            <td>0.625rem</td>
            <td>10px</td>
          </tr>
          <tr>
            <td>$size-1</td>
            <td>0.75rem</td>
            <td>12px</td>
          </tr>
          <tr>
            <td>$size-2</td>
            <td>0.875rem</td>
            <td>14px</td>
          </tr>
          <tr>
            <td>$size-3</td>
            <td>1rem</td>
            <td>16px</td>
          </tr>
          <tr>
            <td>$size-4</td>
            <td>1.125rem</td>
            <td>18px</td>
          </tr>
          <tr>
            <td>$size-5</td>
            <td>1.25rem</td>
            <td>20px</td>
          </tr>
          <tr>
            <td>$size-6</td>
            <td>1.5rem</td>
            <td>24px</td>
          </tr>
        </table>
      </div>
    </div>

  <div class="row u-margin--btm-md">
    <div class="col-12">
      <hr>
      <h2>Paddings & Margins</h2>
      <hr>

      <table class="u-table u-content--center u-padding--btm-sm">
        <tr>
          <th>Shorthand</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>sm</td>
          <td>small</td>
        </tr>
        <tr>
          <td>md</td>
          <td>medium</td>
        </tr>
        <tr>
          <td>lg</td>
          <td>large</td>
        </tr>
        <tr>
          <td>xlg</td>
          <td>extra large</td>
        </tr>
        <tr>
          <td>h</td>
          <td>horizontal</td>
        </tr>
        <tr>
          <td>v</td>
          <td>vertical</td>
        </tr>
        <tr>
          <td>lft</td>
          <td>left</td>
        </tr>
        <tr>
          <td>rgt</td>
          <td>right</td>
        </tr>
        <tr>
          <td>tp</td>
          <td>top</td>
        </tr>
        <tr>
          <td>btm</td>
          <td>bottom</td>
        </tr>
      </table>

      <div class="col-12">
          <div class="u-padding--btm-sm">
            <h3>Uniform padding</h3>
            <div class="bg-primary u-display--inline-block u-padding--none u-margin--rgt-sm">
              <div class="u-display--inline-block bg-wtrans">.u-padding--none</div>
            </div>
            <div class="bg-primary u-display--inline-block u-padding--sm u-margin--rgt-sm">
              <div class="u-display--inline-block bg-wtrans">.u-padding--sm</div>
            </div>
            <div class="bg-primary u-display--inline-block u-padding--md u-margin--rgt-sm">
              <div class="u-display--inline-block bg-wtrans">.u-padding--md</div>
            </div>
            <div class="bg-primary u-display--inline-block u-padding--lg u-margin--rgt-sm">
              <div class="u-display--inline-block bg-wtrans">.u-padding--lg</div>
            </div>
            <div class="bg-primary u-display--inline-block u-padding--xlg u-margin--rgt-sm">
              <div class="u-display--inline-block bg-wtrans">.u-padding--xlg</div>
            </div>
          </div>
      </div>
      <div class="col-12">
          <pre><code highlight [code]="uniformPadding"></code></pre>
      </div>
      <div class="col-12">
          <div class="u-margin--btm-sm">
              <h3>Uniform margins</h3>
              <div class="bg-primary u-display--inline-block u-margin--rgt-sm">
                  <div class="u-display--inline-block bg-wtrans u-margin--none">.u-margin--none</div>
              </div>
              <div class="bg-primary u-display--inline-block u-margin--rgt-sm">
                <div class="u-display--inline-block bg-wtrans u-margin--sm">.u-margin--sm</div>
              </div>
              <div class="bg-primary u-display--inline-block u-margin--rgt-sm">
                <div class="u-display--inline-block bg-wtrans u-margin--md">.u-margin--md</div>
              </div>
              <div class="bg-primary u-display--inline-block u-margin--rgt-sm">
                <div class="u-display--inline-block bg-wtrans u-margin--lg">.u-margin--lg</div>
              </div>
          </div>
      </div>
      <div class="col-12">
          <pre><code highlight [code]="uniformMargins"></code></pre>
      </div>
    </div>
  </div>

  <div class="row u-margin--btm-md">
      <div class="col-12">
        <hr>
        <h2>Borders</h2>

        <div class="row u-margin--btm-sm">
          <div class="u-border--left col">
              .u-border--left
          </div>
          <div class="u-border--top col">
            .u-border--top
          </div>
          <div class="u-border--bottom col">
            .u-border--bottom
          </div>
          <div class="u-border--right col">
            .u-border--right
          </div>
        </div>
      </div>
    </div>

  <div class="row u-margin--btm-md">
    <div class="col-12">
      <hr>
      <h2>Positioning</h2>
      <hr>
      
      <div>Not positioned</div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr>
      <h2>Colors</h2>
      <hr>
    </div>
  </div>
  
  <div class="row u-margin--btm-md">
    <div class="col-6">
      <h3>Text</h3>
      <p class="text__primary">.text__primary</p>
      <p class="text__secondary">.text__secondary</p>
      <p class="text__success">.text__success</p>
      <p class="text__danger">.text__danger</p>
      <p class="text__warning">.text__warning</p>
      <p class="text__info">.text__info</p>
    </div>

    <div class="col-6">
      <h3>Links</h3>
      <p><a href="#" class="c-btn__link text__primary">Primary link</a></p>
      <p><a href="#" class="c-btn__link text__secondary">Secondary link</a></p>
      <p><a href="#" class="c-btn__link text__success">Success link</a></p>
      <p><a href="#" class="c-btn__link text__danger">Danger link</a></p>
      <p><a href="#" class="c-btn__link text__warning">Warning link</a></p>
      <p><a href="#" class="c-btn__link text__info">Info link</a></p>
    </div>
    <div class="col-12">
        <pre><code highlight [code]="textAndLinks"></code></pre>
    </div>

    <div class="col-12">
      <h3>Backgrounds</h3>
      <div class="bg-primary u-content--left u-margin--btm-sm u-padding--sm">
          <div class="text__primary--darken">.bg-primary .text__primary--darken</div>
      </div>
      <div class="bg-secondary u-content--left u-margin--btm-sm u-padding--sm">
          <div class="text__secondary--darken">.bg-secondary .text__secondary--darken</div>
      </div> 
      <div class="bg-vegas u-content--left u-margin--btm-sm u-padding--sm">
          <div class="text__vegas--darken">.bg-vegas .text__vegas--darken</div>
      </div> 
 
      <div class="bg-inplay u-content--left u-margin--btm-sm u-padding--sm">
          <div class="text__inplay--darken">.bg-inplay .text__inplay--darken</div>
      </div> 

      <div class="bg-sports u-content--left u-margin--btm-sm u-padding--sm">
          <div class="text__sports--darken">.bg-sports .text__sports--darken</div>
      </div>
      <div class="bg-casino u-content--left u-margin--btm-sm u-padding--sm">
          <div class="text__casino--darken">.bg-casino .text__casino--darken</div>
      </div>
      <div class="bg-lcasino u-content--left u-margin--btm-sm u-padding--sm">
          <div class="text__lcasino--darken">.bg-lcasino .text__lcasino--darken</div>
      </div>
      <div class="bg-success u-content--left u-margin--btm-sm u-padding--sm">
          <div class="text__success--darken">.bg-success .text__success--darken</div>
      </div>
      <div class="bg-warning u-content--left u-margin--btm-sm u-padding--sm">
          <div class="text__warning--darken">.bg-warning .text__warning--darken</div>
      </div>
      <div class="bg-info u-content--left u-margin--btm-sm u-padding--sm">
          <div class="text__info--darken">.bg-info .text__info--darken</div>
      </div>
      <div class="bg-danger u-content--left u-margin--btm-sm u-padding--sm">
          <div class="text__danger--darken">.bg-danger .text__danger--darken</div>
      </div>
    </div>
    <div class="col-12">
        <pre><code highlight [code]="backgrounds"></code></pre>
    </div>
  </div>
</div>