<div class="container">
  <div class="row bg-dealer u-margin--btm-md">
    <div class="col-12">
      <h1 class="u-has-font--bolder u-is--uppercase u-margin--btm-sm u-padding--sm u-padding--none text-dealer-lighten">Images</h1>
    </div>
  </div>

  <div class="row u-margin--btm-md">
    <div class="col-12">
      <hr>
      <h2>Fixed Images <small>useful for avatars</small></h2>
      <hr>
      <div class="row u-margin--btm-md">
        <div class="col-md-2">u-image u-image__is--16by16</div>
        <div class="col-md-2"><img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" class="u-image u-image__is--16by16"></div>
        <div class="col">16px * 16px</div>
      </div>
      <div class="row u-margin--btm-md">
        <div class="col-md-2">u-image u-image__is--24by24</div>
        <div class="col-md-2"><img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" class="u-image u-image__is--24by24"></div>
        <div class="col">24px * 24px</div>
      </div>
      <div class="row u-margin--btm-md">
        <div class="col-md-2">u-image u-image__is--32by32</div>
        <div class="col-md-2"><img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" class="u-image u-image__is--32by32"></div>
        <div class="col">32px * 32px</div>
      </div>
      <div class="row u-margin--btm-md">
        <div class="col-md-2">u-image u-image__is--48by48</div>
        <div class="col-md-2"><img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" class="u-image u-image__is--48by48"></div>
        <div class="col">48px * 48px</div>
      </div>
      <div class="row u-margin--btm-md">
        <div class="col-md-2">u-image u-image__is--64by64</div>
        <div class="col-md-2"><img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" class="u-image u-image__is--64by64"></div>
        <div class="col">64px * 64px</div>
      </div>
      <div class="row u-margin--btm-md">
        <div class="col-md-2">u-image u-image__is--96by96</div>
        <div class="col-md-2"><img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" class="u-image u-image__is--96by96"></div>
        <div class="col">96px * 96px</div>
      </div>
      <div class="row u-margin--btm-md">
        <div class="col-md-2">u-image u-image__is--128by128</div>
        <div class="col-md-2"><img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" class="u-image u-image__is--128by128"></div>
        <div class="col">128px * 128px</div>
      </div>
      <div class="row u-margin--btm-md">
        <div class="col-md-2">u-image u-image__is--256by256</div>
        <div class="col-md-2"><img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" class="u-image u-image__is--256by256"></div>
        <div class="col">256px * 256px</div>
      </div>
    </div>
  </div>

  <div class="row u-margin--btm-md">
    <div class="col-12">
      <hr>
      <h2>Responsive Images</h2>
      <hr>
      <img src="https://via.placeholder.com/1151x250" class="" alt="">
    </div>
  </div>

  <div class="row u-margin--btm-md">
    <div class="col-12">
      <hr>
      <h2>Aligning images</h2>
      <hr>

      <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" class="u-image__is--left u-image__is--256by256">
      <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" class="u-image__is--right u-image__is--256by256">
    </div>
  </div>

  <div class="row u-margin--btm-md">
      <div class="col-12">
        <hr>
        <h2>Rounded images</h2>
        <hr>
        <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" class="u-image u-image__is--rounded" alt="float-left"/>
      </div>
    </div>

  </div>
  