/** @COMPONENT **/


/**  Cards Block **/
.c-card {
  $this: &;
  background-color: $card-bg-color;
  @include shadow(0, 2px, 3px, $shadow-color, 1);
  color: $b-dark-grey;
  max-width: 100%;
  position: relative;

  /** Card elements **/
  &__header {
    background-color: $card-header-bg-color;
    align-items: stretch;
    @include shadow(0, 1px, 2px, $shadow-color);
    display: flex;

    &--title {
      align-items: center;
      color: $b-dark-grey;
      display: flex;
      flex-grow: 1;
      font-weight: $font__weight--bold;
      padding: 0.75rem;
    }

    &--is-centered {
      @extend .u-justify--center;
    }

    &--icon {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: center;
      padding: 0.75rem;
    }
  }

  &__image {
    display: block;
    position: relative;
  }

  &__content {
    background-color: $card-content-bg-color;
    padding: 1.5rem;

    &--title {
      @extend #{$this}__header--title;
    }

    &--subtitle {
      align-items: center;
      color: $b-dark-grey;
      display: flex;
      flex-grow: 1;
      font-weight: $font__weight--bold;
      padding: 0.75rem;
    }
  }

  &__footer {
    background-color: $card-footer-bg-color;
    border-top: $card-footer-border-top;
    align-items: stretch;
    display: flex;

    &--item {
      align-items: center;
      display: flex;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 0;
      justify-content: center;
      padding: 0.75rem;
      &:not(:last-child) {
        border-right: $card-footer-border-top;
      }
    }
  }

  &__media {
    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }
}