/** @COMPONENT **/


/**  Cards Block **/
.c-card {
  $this: &;
  @extend %card;

  /** Card elements **/
  &__header {
    padding: $card-padding;

    &--title {
      font-weight: $font__weight--bold;
    }

    &--icon {
      cursor: pointer;
    }
  }

  &__image {
    display: block;
    position: relative;
  }

  &__content {
    padding: $card-padding;
    border-top: $card-footer-border;

    &--title {
      @extend #{$this}__header--title;
    }

    &--subtitle {
      font-weight: $font__weight--bold;
    }
  }

  &__footer {
    border-top: $card-footer-border;
    padding: $card-padding;
  }

  &__media {
    &:not(:last-child) {
      margin-bottom: $size-1;
    }
  }

  &--no-gutters {
    @extend .u-padding--h-none;

    > [class*="card__"] {
      @extend .u-padding--h-none;
    }
  }
}