.c-input {
  display: block;
  width: $base-input-width;
  margin: $base-input-margin;
  padding: $base-input-padding;
  border: $border-1 $border-color;
  @include transition(all);

  @mixin focus {
    &:focus {
      outline: none;
      border-color: transparent;
      @content;
    }
  }

  &__text {
      min-height: $base-text-height
  }

  &__textarea {
      min-height: $base-textarea-height;
  }

  &__has {
    &--success {
      @include focus {
        @include shadow(0, 0, 0, 0.125em, rgba($success-color, 0.9));
      }
    }

    &--error {
      @include focus {
        @include shadow(0, 0, 0, 0.125em, rgba($danger-color, 0.9));
      }
    }

    &--warning {
      @include focus {
        @include shadow(0, 0, 0, 0.125em, rgba($warning-color, 0.9));
      }
    }
  }
}
