/** @COMPONENT **/

 /** Label Block  **/
.c-label {
	display: inline;
	line-height: $font__line-height;
	font-size: text-scale('base');
	color: $primary-color;
	border: $border-1 $primary-color;
	text-align: center;
	white-space: nowrap;
	padding: 3px 4px;
  border-radius: $border-radii;
  

  /** Label Elements **/
  &__primary {
    color: $info-color;
		border: $border-1 $info-color;
  }

  &__success {
    color: $success-color;
		border: $border-1 $success-color;
  }

  &__warning {
    color: $warning-color;
		border: $border-1 $warning-color;
  }

  &__danger {
    color: $danger-color;
		border: $border-1 $danger-color;
  }

  /** Label Modifiers **/
  &--no-b-color {
    border: $border-1 transparent;
  }
}