/** @COMPONENT **/

/** Panel Block **/
.c-panel {
	padding: $panel-padding;
	margin: $panel-margins;
	border: $border-1 $black-color-trans;
	@if ($panel-width != null) {
		width: $panel-width;
	}

	/** Elements **/
	&__primary {
		background-color: $info-color;
	}

	&__success {
		background-color: $success-color;
	}

	&__warning {
		background-color: $warning-color;
	}

	&__danger {
		background-color: $danger-color;
	}

	/** Modifiers **/
	&--round {
		border-radius: $border-radii;
	}

	&--left {
		left: 0;
	}

	&--right {
		right: 0;
	}
}