<div class="container">
  <div class="row">
    <div class="col-6">
        <h1 class="font-bold">labels</h1>
        <ul class="u-list u-list--inline">
            <li>
              <span class="c-label">Default</span>
            </li>
            <li>
              <span class="c-label c-label__primary">Primary</span>
            </li>
            <li>
              <span class="c-label c-label__success">Success</span>
            </li>
            <li>
              <span class="c-label c-label__warning">Warning</span>
            </li>
            <li>
              <span class="c-label c-label__danger">Danger</span>
            </li>
          </ul>
    </div>
  </div>
</div>