<header>
    <div class="row no-gutters">
        <div class="col-12">
            <ul class="c-tabs bg-secondary">
                <li>
                    <a class="c-tabs__link" href="#" role="button" routerLinkActive="c-tabs__link--active" routerLink=""
                        [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
                <li>
                    <a class="c-tabs__link" href="#" role="button" routerLinkActive="c-tabs__link--active" routerLink="grid">Grid</a>
                </li>
                <li>
                    <a class="c-tabs__link" href="#" role="button" routerLinkActive="c-tabs__link--active" routerLink="button">Buttons</a>
                </li>
                <li>
                    <a class="c-tabs__link" href="#" role="button" routerLinkActive="c-tabs__link--active" routerLink="typography">Typography</a>
                </li>
                <li>
                    <a class="c-tabs__link" href="#" role="button" routerLinkActive="c-tabs__link--active" routerLink="forms">Forms</a>
                </li>
                <li>
                    <a class="c-tabs__link" href="#" role="button" routerLinkActive="c-tabs__link--active" routerLink="panels">Panels</a>
                </li>
                <li>
                    <a class="c-tabs__link" href="#" role="button" routerLinkActive="c-tabs__link--active" routerLink="cards">Cards</a>
                </li>
                <li>
                    <a class="c-tabs__link" href="#" role="button" routerLinkActive="c-tabs__link--active" routerLink="images">Images</a>
                </li>
                <li>
                    <a class="c-tabs__link" href="#" role="button" routerLinkActive="c-tabs__link--active" routerLink="utilities">Utilities</a>
                </li>
                <li>
                    <a class="c-tabs__link" href="#" role="button" routerLinkActive="c-tabs__link--active" routerLink="tabs">Tabs</a>
                </li>
                <li>
                    <a class="c-tabs__link" href="#" role="button" routerLinkActive="c-tabs__link--active" routerLink="test">Prototype Area</a>
                </li>
            </ul>
        </div>
    </div>
</header>