<header>
    <div class="row no-gutters">
        <div class="col-12">
            <ul class="c-tabs c-tabs">
                <li>
                    <a class="c-btn c-btn__tab c-btn--md c-btn--no-radius" href="#" role="button" routerLinkActive="c-btn__tab--active" routerLink="" [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
                <li>
                    <a class="c-btn c-btn__tab c-btn--md c-btn--no-radius" href="#" role="button" routerLinkActive="c-btn__tab--active" routerLink="grid">Grid</a>
                </li>
                <li>
                    <a class="c-btn c-btn__tab c-btn--md c-btn--no-radius" href="#" role="button" routerLinkActive="c-btn__tab--active" routerLink="button">Buttons</a>
                </li>
                <li>
                    <a class="c-btn c-btn__tab c-btn--md c-btn--no-radius" href="#" role="button" routerLinkActive="c-btn__tab--active" routerLink="typography">Typography</a>
                </li>
                <li>
                    <a class="c-btn c-btn__tab c-btn--md c-btn--no-radius" href="#" role="button" routerLinkActive="c-btn__tab--active" routerLink="forms">Forms</a>
                </li>
                <li>
                    <a class="c-btn c-btn__tab c-btn--md c-btn--no-radius" href="#" role="button" routerLinkActive="c-btn__tab--active" routerLink="panels">Panels</a>
                </li>
                <li>
                    <a class="c-btn c-btn__tab c-btn--md c-btn--no-radius" href="#" role="button" routerLinkActive="c-btn__tab--active" routerLink="cards">Cards</a>
                </li>
                <li>
                    <a class="c-btn c-btn__tab c-btn--md c-btn--no-radius" href="#" role="button" routerLinkActive="c-btn__tab--active" routerLink="utilities">Utilities</a>
                </li>
            </ul>
        </div>
    </div>
</header>