<div class="container">
  <div class="row bg-betting u-margin--btm-md">
    <div class="col-12">
      <h1 class="u-has-font--bolder u-is--uppercase u-padding--sm u-padding--none text-dealer-lighten">Panels</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="c-panel">
        <h3>Panel Default</h3>
        <p>
          Aliquam erat volutpat. Duis euismod aliquam mi at faucibus. Donec interdum pulvinar eros. Morbi vitae maximus urna, el faucibus
          leo. Vivamus vitae leo porttitor, tincidunt lectus ac, tempor lectus. Ut.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="c-panel c-panel__primary c-panel--round">
        <h3>Panel Primary</h3>
        <p>
          Aliquam erat volutpat. Duis euismod aliquam mi at faucibus. Donec interdum pulvinar eros. Morbi vitae maximus urna, vel faucibus
          leo. Vivamus vitae leo porttitor, tincidunt lectus ac, tempor lectus. Ut.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="c-panel c-panel__success">
        <h3>Panel Success</h3>
        <p>
          Aliquam erat volutpat. Duis euismod aliquam mi at faucibus. Donec interdum pulvinar eros. Morbi vitae maximus urna, vel faucibus
          leo. Vivamus vitae leo porttitor, tincidunt lectus ac, tempor lectus. Ut.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="c-panel c-panel__warning">
        <h3>Panel Warning</h3>
        <p>
          Aliquam erat volutpat. Duis euismod aliquam mi at faucibus. Donec interdum pulvinar eros. Morbi vitae maximus urna, vel faucibus
          leo. Vivamus vitae leo porttitor, tincidunt lectus ac, tempor lectus. Ut.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="c-panel c-panel__danger">
        <h3>Panel Danger</h3>
        <p>
          Aliquam erat volutpat. Duis euismod aliquam mi at faucibus. Donec interdum pulvinar eros. Morbi vitae maximus urna, vel faucibus
          leo. Vivamus vitae leo porttitor, tincidunt lectus ac, tempor lectus. Ut.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <pre><code highlight [code]="panels"></code></pre>
    </div>
  </div>
</div>