<div class="row bg-betting u-margin--btm-md">
  <div class="col-12">
    <h1 class="u-has-font--bolder u-is--uppercase u-padding--sm">
      Let's build something
    </h1>
  </div>
</div>
<div class="row u-margin--btm-md">
  <div class="col-12">
    <h2>Here's a sample betslip</h2>
  </div>
  <div class="col-md-3">
    <div class="c-card">
      <header class="c-card__header bg-primary">
        <p class="c-card__header--title">
          Betslip
        </p>
      </header>
      <div class="c-card__content">
        <div class="row u-margin--btm-md no-gutters">
          <div class="col-12">
            <ul class="c-tabs">
              <li class="c-tabs__item c-tabs__item--filled">
                <a class="c-btn c-btn__primary--outline" role="button">Single Bets</a>
              </li>
              <li class="c-tabs__item c-tabs__item--filled">
                <a class="c-btn c-btn__warning--outline" role="button">Mutli Bet</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-12">
            <p class="c-card__content--title">
              Betslip is currently empty
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__americanfootball"></i>
    <i class="c-icon c-icon--sm c-icon__americanfootball"></i>
    <i class="c-icon c-icon--md c-icon__americanfootball"></i>
    <i class="c-icon c-icon--lg c-icon__americanfootball"></i>
    <i class="c-icon c-icon--xlg c-icon__americanfootball"></i>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__badminton"></i>
    <i class="c-icon c-icon--sm c-icon__badminton"></i>
    <i class="c-icon c-icon--md c-icon__badminton"></i>
    <i class="c-icon c-icon--lg c-icon__badminton"></i>
    <i class="c-icon c-icon--xlg c-icon__badminton"></i>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__baseball"></i>
    <i class="c-icon c-icon--sm c-icon__baseball"></i>
    <i class="c-icon c-icon--md c-icon__baseball"></i>
    <i class="c-icon c-icon--lg c-icon__baseball"></i>
    <i class="c-icon c-icon--xlg c-icon__baseball"></i>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__basketball"></i>
    <i class="c-icon c-icon--sm c-icon__basketball"></i>
    <i class="c-icon c-icon--md c-icon__basketball"></i>
    <i class="c-icon c-icon--lg c-icon__basketball"></i>
    <i class="c-icon c-icon--xlg c-icon__basketball"></i>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__beachvolley"></i>
    <i class="c-icon c-icon--sm c-icon__beachvolley"></i>
    <i class="c-icon c-icon--md c-icon__beachvolley"></i>
    <i class="c-icon c-icon--lg c-icon__beachvolley"></i>
    <i class="c-icon c-icon--xlg c-icon__beachvolley"></i>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__boxing"></i>
    <i class="c-icon c-icon--sm c-icon__boxing"></i>
    <i class="c-icon c-icon--md c-icon__boxing"></i>
    <i class="c-icon c-icon--lg c-icon__boxing"></i>
    <i class="c-icon c-icon--xlg c-icon__boxing"></i>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__casino"></i>
    <i class="c-icon c-icon--sm c-icon__casino"></i>
    <i class="c-icon c-icon--md c-icon__casino"></i>
    <i class="c-icon c-icon--lg c-icon__casino"></i>
    <i class="c-icon c-icon--xlg c-icon__casino"></i>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__cricket"></i>
    <i class="c-icon c-icon--sm c-icon__cricket"></i>
    <i class="c-icon c-icon--md c-icon__cricket"></i>
    <i class="c-icon c-icon--lg c-icon__cricket"></i>
    <i class="c-icon c-icon--xlg c-icon__cricket"></i>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__cycling"></i>
    <i class="c-icon c-icon--sm c-icon__cycling"></i>
    <i class="c-icon c-icon--md c-icon__cycling"></i>
    <i class="c-icon c-icon--lg c-icon__cycling"></i>
    <i class="c-icon c-icon--xlg c-icon__cycling"></i>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__darts"></i>
    <i class="c-icon c-icon--sm c-icon__darts"></i>
    <i class="c-icon c-icon--md c-icon__darts"></i>
    <i class="c-icon c-icon--lg c-icon__darts"></i>
    <i class="c-icon c-icon--xlg c-icon__darts"></i>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__golf"></i>
    <i class="c-icon c-icon--sm c-icon__golf"></i>
    <i class="c-icon c-icon--md c-icon__golf"></i>
    <i class="c-icon c-icon--lg c-icon__golf"></i>
    <i class="c-icon c-icon--xlg c-icon__golf"></i>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__handball"></i>
    <i class="c-icon c-icon--sm c-icon__handball"></i>
    <i class="c-icon c-icon--md c-icon__handball"></i>
    <i class="c-icon c-icon--lg c-icon__handball"></i>
    <i class="c-icon c-icon--xlg c-icon__handball"></i>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__ice-hockey"></i>
    <i class="c-icon c-icon--sm c-icon__ice-hockey"></i>
    <i class="c-icon c-icon--md c-icon__ice-hockey"></i>
    <i class="c-icon c-icon--lg c-icon__ice-hockey"></i>
    <i class="c-icon c-icon--xlg c-icon__ice-hockey"></i>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__jackpots"></i>
    <i class="c-icon c-icon--sm c-icon__jackpots"></i>
    <i class="c-icon c-icon--md c-icon__jackpots"></i>
    <i class="c-icon c-icon--lg c-icon__jackpots"></i>
    <i class="c-icon c-icon--xlg c-icon__jackpots"></i>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__mma"></i>
    <i class="c-icon c-icon--sm c-icon__mma"></i>
    <i class="c-icon c-icon--md c-icon__mma"></i>
    <i class="c-icon c-icon--lg c-icon__mma"></i>
    <i class="c-icon c-icon--xlg c-icon__mma"></i>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__motorsport"></i>
    <i class="c-icon c-icon--sm c-icon__motorsport"></i>
    <i class="c-icon c-icon--md c-icon__motorsport"></i>
    <i class="c-icon c-icon--lg c-icon__motorsport"></i>
    <i class="c-icon c-icon--xlg c-icon__motorsport"></i>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__pesapallo"></i>
    <i class="c-icon c-icon--sm c-icon__pesapallo"></i>
    <i class="c-icon c-icon--md c-icon__pesapallo"></i>
    <i class="c-icon c-icon--lg c-icon__pesapallo"></i>
    <i class="c-icon c-icon--xlg c-icon__pesapallo"></i>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__rugby"></i>
    <i class="c-icon c-icon--sm c-icon__rugby"></i>
    <i class="c-icon c-icon--md c-icon__rugby"></i>
    <i class="c-icon c-icon--lg c-icon__rugby"></i>
    <i class="c-icon c-icon--xlg c-icon__rugby"></i>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__snooker"></i>
    <i class="c-icon c-icon--sm c-icon__snooker"></i>
    <i class="c-icon c-icon--md c-icon__snooker"></i>
    <i class="c-icon c-icon--lg c-icon__snooker"></i>
    <i class="c-icon c-icon--xlg c-icon__snooker"></i>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__soccer"></i>
    <i class="c-icon c-icon--sm c-icon__soccer"></i>
    <i class="c-icon c-icon--md c-icon__soccer"></i>
    <i class="c-icon c-icon--lg c-icon__soccer"></i>
    <i class="c-icon c-icon--xlg c-icon__soccer"></i>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__tennis"></i>
    <i class="c-icon c-icon--sm c-icon__tennis"></i>
    <i class="c-icon c-icon--md c-icon__tennis"></i>
    <i class="c-icon c-icon--lg c-icon__tennis"></i>
    <i class="c-icon c-icon--xlg c-icon__tennis"></i>
  </div>
</div>
<div class="row u-margin--btm-sm">
  <div class="col">
    <i class="c-icon c-icon__volley"></i>
    <i class="c-icon c-icon--sm c-icon__volley"></i>
    <i class="c-icon c-icon--md c-icon__volley"></i>
    <i class="c-icon c-icon--lg c-icon__volley"></i>
    <i class="c-icon c-icon--xlg c-icon__volley"></i>
  </div>
</div>