<div class="container">
  <div class="row u-bg-primary u-margin--btm-md">
    <div class="col">
      <h1 class="u-has-font--bolder u-is--uppercase u-padding--sm u-padding--none u-text-primary-lighten">Content</h1>
      <h5 class=" u-padding--sm u-padding--none">
        <a class="c-btn__link" routerLink="./" fragment="section2">Jump to 'Section 2' anchor </a> |
        <a class="c-btn__link" routerLink="./" fragment="section3">Jump to 'Section 3' anchor</a>
      </h5>
    </div>
  </div>

  <div class="row u-grid-justify--center">
    <div class="col-md-6 col-sm-12">
      <h5>Content | Links | Accordions | 1 column</h5>
      <hr/>
      <p> <a class="c-btn__link u-text-primary u-has-font--bold" href="https://www.betway.co.za/">Lorem ipsum dolor sit amet</a>,
        consectetur adipiscing elit. Nam rutrum erat sit amet justo vestibulum volutpat. Suspendisse dignissim suscipit massa,
        ac maximus ex viverra nec. Ut id leo porttitor, feugiat odio id, malesuada felis. Cras pulvinar, mauris ac mollis
        feugiat, sem erat dictum orci, a aliquam sem felis vestibulum augue. <a class="c-btn__link u-text-primary u-has-font--bold"
          href="https://www.betway.co.za/"><strong>Aliquam erat volutpat</strong></a>. Proin quis orci eu ex blandit elementum
        sed et eros. In hac habitasse platea dictumst. In vitae aliquam tortor. Ut viverra orci vitae nisi volutpat, nec
        vulputate urna sagittis. <a class="c-btn__link u-text-primary u-has-font--bold" href="https://www.betway.co.za/">Integer
          fringilla</a>, justo vel mattis tempor, ex dui sagittis dolor, vel euismod nisl erat finibus elit. Praesent commodo
        tristique lobortis. Aliquam porta arcu ligula, in fermentum eros tempus quis. Phasellus gravida risus eget nisi sagittis
        faucibus. Sed eleifend orci mauris, eu porttitor urna blandit vitae. Nam convallis nulla nec nulla <a class="c-btn__link u-text-primary u-has-font--bold"
          href="https://www.betway.co.za/"><strong>viverra auctor</strong></a>.</p>
    </div>
  </div>

  <div class="row u-grid-justify--center">
    <div class="col-md-6 col-sm-12 u-padding--btm-md">
      <div class="c-accordion u-border">
        <input type="checkbox" id="1" class="c-accordion--toggle" checked>
        <label for="1" class="c-accordion__label">This is an open example</label>
        <div class="c-accordion__content">
          <div class="c-accordion__body">
            <p class="accordion-content border"><a class="c-btn__link u-text-primary u-has-font--bold" href="https://www.betway.co.za/">Lorem
                ipsum dolor sit amet
              </a>, consectetur adipiscing elit. Nam rutrum erat sit amet justo vestibulum volutpat. Suspendisse dignissim
              suscipit massa, ac maximus ex viverra nec. Ut id leo porttitor, feugiat odio id, malesuada felis. Cras pulvinar,
              mauris ac mollis feugiat, sem erat dictum orci, a aliquam sem felis vestibulum augue. <a class="c-btn__link u-text-primary u-has-font--bold"
                href="https://www.betway.co.za/"><strong>Aliquam erat volutpat</strong></a>. Proin quis orci eu ex blandit
              elementum sed et eros. In hac habitasse platea dictumst. In vitae aliquam tortor. Ut viverra orci vitae nisi
              volutpat, nec vulputate urna sagittis. <a class="c-btn__link u-text-primary u-has-font--bold" href="https://www.betway.co.za/">Integer
                fringilla</a>, justo vel mattis tempor, ex dui sagittis dolor, vel euismod nisl erat finibus elit. Praesent
              commodo tristique lobortis. Aliquam porta arcu ligula, in fermentum eros tempus quis. Phasellus gravida risus
              eget nisi sagittis faucibus. Sed eleifend orci mauris, eu porttitor urna blandit vitae. Nam convallis nulla
              nec nulla <a class="c-btn__link u-text-primary u-has-font--bold" href="https://www.betway.co.za/"><strong>viverra
                  auctor</strong></a>.</p>
          </div>
        </div>
      </div>
      <div class="c-accordion u-border u-border--top-none">
        <input type="checkbox" class="c-accordion--toggle">
        <label class="c-accordion__label">This is an closed example</label>
      </div>
      <div class="c-accordion u-border u-border--top-none">
        <input type="checkbox" class="c-accordion--toggle">
        <label class="c-accordion__label">This is an closed example</label>
      </div>
    </div>
  </div>

  <div class="row u-grid-justify--center">
    <div class="col-md-6 col-sm-12 ">
      <hr/>
      <a id="section2"></a>
      <h5>Content | Links | Accordions | 2 columns</h5>
      <hr/>
    </div>
  </div>

  <div class="row u-grid-justify--center">
    <div class="col-md-3 col-sm-12 u-padding--btm-md">
      <p><a class="c-btn__link u-text-primary u-has-font--bold" href="https://www.betway.co.za/">Lorem ipsum dolor sit amet</a>,
        consectetur adipiscing elit. Nam rutrum erat sit amet justo vestibulum volutpat. Suspendisse dignissim suscipit massa,
        ac maximus ex viverra nec. Ut id leo porttitor, feugiat odio id, malesuada felis. Cras pulvinar, mauris ac mollis
        feugiat, sem erat dictum orci, a aliquam sem felis vestibulum augue. <a class="c-btn__link u-text-primary u-has-font--bold"
          href="https://www.betway.co.za/"><strong>Aliquam erat volutpat</strong></a>. Proin quis orci eu ex blandit elementum
        sed et eros. In hac habitasse platea dictumst. In vitae aliquam tortor. Ut viverra orci vitae nisi volutpat, nec
        vulputate urna sagittis. <a class="c-btn__link u-text-primary u-has-font--bold" href="https://www.betway.co.za/">Integer
          fringilla</a>, justo vel mattis tempor, ex dui sagittis dolor, vel euismod nisl erat finibus elit. Praesent commodo
        tristique lobortis. Aliquam porta arcu ligula, in fermentum eros tempus quis. Phasellus gravida risus eget nisi sagittis
        faucibus. Sed eleifend orci mauris, eu porttitor urna blandit vitae. Nam convallis nulla nec nulla <a class="c-btn__link u-text-primary u-has-font--bold"
          href="https://www.betway.co.za/"><strong>viverra auctor</strong></a>.</p>

      <div class="c-accordion u-bg-primary u-border">
        <input type="checkbox" id="2" class="c-accordion--toggle" checked>
        <label for="2" class="c-accordion__label">This is an open example</label>
        <div class="c-accordion__content u-bg-wtrans">
          <div class="c-accordion__body">
            <p class="accordion-content border"><a class="c-btn__link u-text-casino u-has-font--bold" href="https://www.betway.co.za/">Lorem
                ipsum dolor sit amet
              </a>, consectetur adipiscing elit. Nam rutrum erat sit amet justo vestibulum volutpat. Suspendisse dignissim
              suscipit massa, ac maximus ex viverra nec. Ut id leo porttitor, feugiat odio id, malesuada felis. Cras pulvinar,
              mauris ac mollis feugiat, sem erat dictum orci, a aliquam sem felis vestibulum augue. <a class="c-btn__link u-text-casino u-has-font--bold"
                href="https://www.betway.co.za/"><strong>Aliquam erat volutpat</strong></a>. Proin quis orci eu ex blandit
              elementum sed et eros. In hac habitasse platea dictumst. In vitae aliquam tortor. Ut viverra orci vitae nisi
              volutpat, nec vulputate urna sagittis. <a class="c-btn__link u-text-casino u-has-font--bold" href="https://www.betway.co.za/">Integer
                fringilla</a>, justo vel mattis tempor, ex dui sagittis dolor, vel euismod nisl erat finibus elit. Praesent
              commodo tristique lobortis. Aliquam porta arcu ligula, in fermentum eros tempus quis. Phasellus gravida risus
              eget nisi sagittis faucibus. Sed eleifend orci mauris, eu porttitor urna blandit vitae. Nam convallis nulla
              nec nulla <a class="c-btn__link u-text-casino u-has-font--bold" href="https://www.betway.co.za/"><strong>viverra
                  auctor</strong></a>.</p>
          </div>
        </div>
      </div>

      <div class="c-accordion u-bg-primary u-border u-border--top-none">
        <input type="checkbox" class="c-accordion--toggle">
        <label class="c-accordion__label">This is an closed example</label>
      </div>

      <div class="c-accordion u-bg-primary u-border u-border--top-none">
        <input type="checkbox" class="c-accordion--toggle">
        <label class="c-accordion__label">This is an closed example</label>
      </div>

    </div>

    <div class="col-md-3 col-sm-12 u-padding--btm-md">
      <p> <a class="c-btn__link u-text-primary u-has-font--bold" href="https://www.betway.co.za/">Lorem ipsum dolor sit amet</a>,
        consectetur adipiscing elit. Nam rutrum erat sit amet justo vestibulum volutpat. Suspendisse dignissim suscipit massa,
        ac maximus ex viverra nec. Ut id leo porttitor, feugiat odio id, malesuada felis. Cras pulvinar, mauris ac mollis
        feugiat, sem erat dictum orci, a aliquam sem felis vestibulum augue. <a class="c-btn__link u-text-primary u-has-font--bold"
          href="https://www.betway.co.za/"><strong>Aliquam erat volutpat</strong></a>. Proin quis orci eu ex blandit elementum
        sed et eros. In hac habitasse platea dictumst. In vitae aliquam tortor. Ut viverra orci vitae nisi volutpat, nec
        vulputate urna sagittis. <a class="c-btn__link u-text-primary u-has-font--bold" href="https://www.betway.co.za/">Integer
          fringilla</a>, justo vel mattis tempor, ex dui sagittis dolor, vel euismod nisl erat finibus elit. Praesent commodo
        tristique lobortis. Aliquam porta arcu ligula, in fermentum eros tempus quis. Phasellus gravida risus eget nisi sagittis
        faucibus. Sed eleifend orci mauris, eu porttitor urna blandit vitae. Nam convallis nulla nec nulla <a class="c-btn__link u-text-primary u-has-font--bold"
          href="https://www.betway.co.za/"><strong>viverra auctor</strong></a>.</p>

      <div class="c-accordion u-border">
        <input type="checkbox" id="3" class="c-accordion--toggle" checked>
        <label for="3" class="c-accordion__label">This is an open example</label>
        <div class="c-accordion__content">
          <div class="c-accordion__body">
            <p class="accordion-content border"><a class="c-btn__link u-text-primary u-has-font--bold" href="https://www.betway.co.za/">Lorem
                ipsum dolor sit amet
              </a>, consectetur adipiscing elit. Nam rutrum erat sit amet justo vestibulum volutpat. Suspendisse dignissim
              suscipit massa, ac maximus ex viverra nec. Ut id leo porttitor, feugiat odio id, malesuada felis. Cras pulvinar,
              mauris ac mollis feugiat, sem erat dictum orci, a aliquam sem felis vestibulum augue. <a class="c-btn__link u-text-primary u-has-font--bold"
                href="https://www.betway.co.za/"><strong>Aliquam erat volutpat</strong></a>. Proin quis orci eu ex blandit
              elementum sed et eros. In hac habitasse platea dictumst. In vitae aliquam tortor. Ut viverra orci vitae nisi
              volutpat, nec vulputate urna sagittis. <a class="c-btn__link u-text-primary u-has-font--bold" href="https://www.betway.co.za/">Integer
                fringilla</a>, justo vel mattis tempor, ex dui sagittis dolor, vel euismod nisl erat finibus elit. Praesent
              commodo tristique lobortis. Aliquam porta arcu ligula, in fermentum eros tempus quis. Phasellus gravida risus
              eget nisi sagittis faucibus. Sed eleifend orci mauris, eu porttitor urna blandit vitae. Nam convallis nulla
              nec nulla <a class="c-btn__link u-text-primary u-has-font--bold" href="https://www.betway.co.za/"><strong>viverra
                  auctor</strong></a>.</p>
          </div>
        </div>
      </div>
      <div class="c-accordion u-border u-border--top-none">
        <input type="checkbox" class="c-accordion--toggle">
        <label class="c-accordion__label">This is an closed example</label>
      </div>
      <div class="c-accordion u-border u-border--top-none">
        <input type="checkbox" class="c-accordion--toggle">
        <label class="c-accordion__label">This is an closed example</label>
      </div>
    </div>
  </div>

  <div class="row u-grid-justify--center">
    <div class="col-sm-12 col-md-6">
      <hr/>
      <a id="section3"></a>
      <h5>Content | Links | 3 columns</h5>
      <hr/>
    </div>
  </div>


  <div class="row u-grid-justify--center">
    <div class="col-sm-12 col-md-2 u-padding--btm-md">
      <p> <a class="c-btn__link u-text-primary u-has-font--bold" href="https://www.betway.co.za/">Lorem ipsum dolor sit amet</a>,
        consectetur adipiscing elit. Nam rutrum erat sit amet justo vestibulum volutpat. Suspendisse dignissim suscipit massa,
        ac maximus ex viverra nec. Ut id leo porttitor, feugiat odio id, malesuada felis. Cras pulvinar, mauris ac mollis
        feugiat, sem erat dictum orci, a aliquam sem felis vestibulum augue. <a class="c-btn__link u-text-primary u-has-font--bold"
          href="https://www.betway.co.za/"><strong>Aliquam erat volutpat</strong></a>. Proin quis orci eu ex blandit elementum
        sed et eros. In hac habitasse platea dictumst. In vitae aliquam tortor. Ut viverra orci vitae nisi volutpat, nec
        vulputate urna sagittis. <a class="c-btn__link u-text-primary u-has-font--bold" href="https://www.betway.co.za/">Integer
          fringilla</a>, justo vel mattis tempor, ex dui sagittis dolor, vel euismod nisl erat finibus elit. Praesent commodo
        tristique lobortis. Aliquam porta arcu ligula, in fermentum eros tempus quis. Phasellus gravida risus eget nisi sagittis
        faucibus. Sed eleifend orci mauris, eu porttitor urna blandit vitae. Nam convallis nulla nec nulla <a class="c-btn__link u-text-primary u-has-font--bold"
          href="https://www.betway.co.za/"><strong>viverra auctor</strong></a>.</p>
    </div>
    <div class="col-sm-12 col-md-2 u-padding--btm-md">
      <p> <a class="c-btn__link u-text-primary u-has-font--bold" href="https://www.betway.co.za/">Lorem ipsum dolor sit amet</a>,
        consectetur adipiscing elit. Nam rutrum erat sit amet justo vestibulum volutpat. Suspendisse dignissim suscipit massa,
        ac maximus ex viverra nec. Ut id leo porttitor, feugiat odio id, malesuada felis. Cras pulvinar, mauris ac mollis
        feugiat, sem erat dictum orci, a aliquam sem felis vestibulum augue. <a class="c-btn__link u-text-primary u-has-font--bold"
          href="https://www.betway.co.za/"><strong>Aliquam erat volutpat</strong></a>. Proin quis orci eu ex blandit elementum
        sed et eros. In hac habitasse platea dictumst. In vitae aliquam tortor. Ut viverra orci vitae nisi volutpat, nec
        vulputate urna sagittis. <a class="c-btn__link u-text-primary u-has-font--bold" href="https://www.betway.co.za/">Integer
          fringilla</a>, justo vel mattis tempor, ex dui sagittis dolor, vel euismod nisl erat finibus elit. Praesent commodo
        tristique lobortis. Aliquam porta arcu ligula, in fermentum eros tempus quis. Phasellus gravida risus eget nisi sagittis
        faucibus. Sed eleifend orci mauris, eu porttitor urna blandit vitae. Nam convallis nulla nec nulla <a class="c-btn__link u-text-primary u-has-font--bold"
          href="https://www.betway.co.za/"><strong>viverra auctor</strong></a>.</p>
    </div>
    <div class="col-sm-12 col-md-2 u-padding--btm-md">
      <p> <a class="c-btn__link u-text-primary u-has-font--bold" href="https://www.betway.co.za/">Lorem ipsum dolor sit amet</a>,
        consectetur adipiscing elit. Nam rutrum erat sit amet justo vestibulum volutpat. Suspendisse dignissim suscipit massa,
        ac maximus ex viverra nec. Ut id leo porttitor, feugiat odio id, malesuada felis. Cras pulvinar, mauris ac mollis
        feugiat, sem erat dictum orci, a aliquam sem felis vestibulum augue. <a class="c-btn__link u-text-primary u-has-font--bold"
          href="https://www.betway.co.za/"><strong>Aliquam erat volutpat</strong></a>. Proin quis orci eu ex blandit elementum
        sed et eros. In hac habitasse platea dictumst. In vitae aliquam tortor. Ut viverra orci vitae nisi volutpat, nec
        vulputate urna sagittis. <a class="c-btn__link u-text-primary u-has-font--bold" href="https://www.betway.co.za/">Integer
          fringilla</a>, justo vel mattis tempor, ex dui sagittis dolor, vel euismod nisl erat finibus elit. Praesent commodo
        tristique lobortis. Aliquam porta arcu ligula, in fermentum eros tempus quis. Phasellus gravida risus eget nisi sagittis
        faucibus. Sed eleifend orci mauris, eu porttitor urna blandit vitae. Nam convallis nulla nec nulla <a class="c-btn__link u-text-primary u-has-font--bold"
          href="https://www.betway.co.za/"><strong>viverra auctor</strong></a>.</p>
    </div>
  </div>
</div>