/** Site Colors **/

/** Brand Theme Colors **/
$b-club-plus: #FFC421;
$b-jackpots: #baa14f;
$b-betting: #acc540;
$b-insider: #81c341;
$b-sports: #439539;
$b-dealer: #66cae0;
$b-virtuals: #04a09d;
$b-casino: #0054a4;
$b-esport: #642282;
$b-betgames: #a01045;
$b-vegas: #ed1c24;
$b-vip: #939598;
$b-dark-grey: #262626;

/** Colors **/
$black-color: #000000;
$black-color-trans: rgba(0, 0, 0, 0.6);
$white-color: #FFFFFF;

$cyan-blue-color: rgb(2, 3, 3);
$orange-color: #F78E1E;
$magenta-color: #EF5BA1;
$grey-color: #cfcfcf;
$grey-color-trans: rgba(207, 207, 207, 0.6);
$dark-grey-color: #222222;
$light-grey-color: #dddddd;
$v-light-grey-color: #f2f2f2;

/** Primary Colors **/
$primary-color: $b-betting;
$border-color: #cccccc;
$btn-color: $b-betting;
$btn-hover-color: #2a2a2a;
$basic-color: #6fbea8;
$bg-color: #ededed;
$body-color: #333333;
$shadow-color: #bbbbbb;
$hover-color: #8c8a8a;
$info-color: #3498db;
$success-color: $b-betting;
$warning-color: #f39c12;
$danger-color: $b-vegas;
$secondary-color: #194484;
$default-color: #ced9e1;
$gray-color: $grey-color;
$light-gray-color: $light-grey-color;
$footer-nav-color: #171717;
$footer-nav-header-color: #307bb5;
$footer-icon-background: rgba(185, 207, 222, 0.5);

$footer-t-background-color: #191919;
$aams-block-color: #307ab5;
$copyright-grey: #666666;