/** Variable Defaults **/

/** Theme Namespace **/
$theme: 'primary';

/** Debug Mode **/
$debug: false;

/** URLs **/
$cdn: "https://cdn.gmgamingsystems.com";
$dev: "https://cms1.gmgamingsystems.dev.com";
$prod: "https://cms1.gmgamingsystems.com";
$env: if($debug, $dev, $prod);

$mobile: 44.9375em !default;
$tablet: 45em !default;
$desktop: 63.9375em !default;

$breakpoints: (
  mobile: 'screen and (max-width: #{$mobile})',
  tablet: 'screen and (min-width: #{$tablet})',
  desktop: 'screen and (max-width: #{$desktop})'
);

/** Breakpoints **/
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

/** Grid framework defaults**/
$enable-grid-classes: true !default;
$gutter-width: 30px !default;
$grid-columns: 12 !default;

/** Animation **/
$animation__duration: .3s;
$animation__timming: ease-out;
$loading__duration: 1s;
$loader__padding: 5px 7px;
$loader__margin: 0 5px 0 0;

/** Border **/
$border-radii: 4px;
$btn-radii: 3px;
$border-1: 1px solid;

/** Panel Padding **/
$panel-width: null;
$panel-padding: 10px 15px;
$panel-margins: 5px 0;

/** Cards **/
$card-bg-color: #fff;
$card-header-bg-color: transparent;
$card-header-color: #111 !default;
$card-content-bg-color: transparent;
$card-footer-bg-color: transparent;
$card-footer-border: $border-1 #ced9e1 !default;
$card-padding: 0.75rem !default;

/** Images **/
$dimensions: (16: 16, 24: 24, 32: 32, 48: 48, 64: 64, 96: 96, 128: 128, 256: 256);
$radii-rounded: 290486px !default;

/**  Sizing **/
$base-spacing-unit: 24px;
$xlarge-multi: 8;

/** Form defaults**/
$base-input-margin: 0 0 15px 0 !default;
$base-input-padding: 5px 10px  !default;
$base-input-width: 100% !default;
$base-text-height: 40px !default;
$base-textarea-height: 100px !default;
$base-label-padding: 0 !default;
$base-label-margin: 0 0 10px 0 !default;