/** Variable Defaults **/

/** Theme Namespace **/
$theme: 'vegas';

/** Debug Mode **/
$debug: true;

/** URLs **/
$dev: "https://cms1.gmgamingsystems.dev.com";
$prod: "https://cms1.gmgamingsystems.com";
$env: if($debug, $dev, $prod);

/** Breakpoints **/
$mobile: 44.9375em !default;
$tablet: 45em !default;
$desktop: 63.9375em !default;

$breakpoints: (
  mobile: 'screen and (max-width: #{$mobile})',
  tablet: 'screen and (min-width: #{$tablet})',
  desktop: 'screen and (max-width: #{$desktop})'
);

/** Grid framework defaults**/
$enable-grid-classes: true !default;
$gutter-width: 30px !default;
$grid-columns: 12 !default;

/** Animation **/
$b-animation__duration: 0.3s;
$b-animation__timming: ease-in !default;

/** Base Font Size / Line Height **/
$font__size: 1rem;
$font__line-height: 1.20 * $font__size;