/** Site Colors **/

/** Brand Theme Colors **/
$theming: (
  club-plus: #FFC421,
  jackpots: #baa14f,
  betting: #acc540,
  insider: #81c341,
  sports: #439539,
  dealer: #66cae0,
  virtuals: #04a09d,
  casino: #0054a4,
  esport: #642282,
  betgames: #a01045,
  vegas: #ed1c24,
  vip: #939598,
);

/** Theme related Vars **/
$primary-color: map-get($theming, $theme);
$btn-primary: map-get($theming, $theme);

/** General Colors **/
$black-color: #000000;
$black-color-trans: rgba(0, 0, 0, 0.6);
$white-color: #FFFFFF;
$b-dark-grey: #262626;
$faded-green: #bee3b9;

/** Action Colors **/
$success-color: map-get($theming, 'betting');
$danger-color: map-get($theming, 'vegas');
$warning-color: #f39c12;
$info-color: #3498db;

/** Other Colors **/
$secondary-color: #194484;
$default-color: #ced9e1;
$border-color: #cccccc;

$basic-color: #6fbea8;
$bg-color: #ededed;
$body-color: #333333;
$shadow-color: #bbbbbb;
$hover-color: #8c8a8a;

$footer-nav-color: #171717;
$footer-nav-header-color: #307bb5;
$footer-icon-background: rgba(185, 207, 222, 0.5);

$footer-t-background-color: #191919;
$aams-block-color: #307ab5;
$copyright-grey: #666666;