/** Variable Defaults **/

/** Theme Namespace **/
$theme: 'sports';

/** Debug Mode **/
$debug: false;

/** URLs **/
$dev: "https://cms1.gmgamingsystems.dev.com";
$prod: "https://cms1.gmgamingsystems.com";
$env: if($debug, $dev, $prod);

$mobile: 44.9375em !default;
$tablet: 45em !default;
$desktop: 63.9375em !default;

$breakpoints: (
  mobile: 'screen and (max-width: #{$mobile})',
  tablet: 'screen and (min-width: #{$tablet})',
  desktop: 'screen and (max-width: #{$desktop})'
);

/** Breakpoints **/
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

/** Grid framework defaults**/
$enable-grid-classes: true !default;
$gutter-width: 30px !default;
$grid-columns: 12 !default;

/** Animation **/
$b-animation__duration: 0.3s !default;
$b-animation__timming: ease-out !default;

/** Border **/
$border-radii: 4px;

/** Panel Padding **/
$panel-width: 500px;
$panel-padding: 10px 15px;
$panel-margins: 5px 0;