/** Base Font Defaults **/
/** Fonts **/
$google-font: "https://fonts.googleapis.com/";
@import url("#{$google-font}css?family=Open+Sans:400,600,700|Roboto+Condensed:400,700");

$font__family: "Open Sans", sans-serif !default;
$font__render-mode: optimizeLegibility !default;
$font__size: 1rem;
$font__line-height: 1.2;
$font__weight: 400;
$font__weight--bold: $font__weight + 200;
$font__weight--bolder: $font__weight--bold + 100;

/** Typography Sizes **/
$size-1: .75rem;
$size-2: .875rem;
$size-3: 1rem;
$size-4: 1.125rem;
$size-5: 1.25rem;
$size-6: 1.5rem;

$font-size__settings: (
  'xs': (
    font-size: $size-1, // 12px
    line-height: $font__line-height
  ),
  'sm': (
    font-size: $size-2, // 14px
    line-height: $font__line-height
  ),
  'base': (
    font-size: $size-3, // 16px
    line-height: $font__line-height
  ),
  'md': (
    font-size: $size-4, // 18px
    line-height: $font__line-height * 2
  ),
  'lg': (
    font-size: $size-5, // 20px
    line-height: $font__line-height * 2
  ),
  'xl': (
    font-size: $size-5, // 24px
    line-height: $font__line-height * 2
  )
);