.u-border {
  $this: $border-1 $border-color;
  border: $this;

  &--top {
    border-top: $this;
  }
  &--right {
    border-right: $this;
  }
  &--bottom {
    border-bottom: $this;
  }
  &--left {
    border-left: $this;
  }
}