.u-border {
  $this: $border-1 $border-color;
  border: $this;

  &--top {
    border-top: $this;
    &-none {
      border-top: none;
    }
  }
  &--right {
    border-right: $this;
    &-none {
      border-right: none;
    }
  }
  &--bottom {
    border-bottom: $this;
    &-none {
      border-bottom: none;
    }
  }
  &--left {
    border-left: $this;
    &-none {
      border-left: none;
    }
  }
}