@each $name, $val in $theming {
  .bg-#{$name} {
    background-color: $val;
  }

  .text__#{$name} {
    color: $val;

    &--lighten {
      color: lighten($val, 25%);
    }

    &--darken {
      color: darken($val, 25%);
    }
  }
}
