@each $name, $val in $theming {
  .u-bg-#{$name} {
    background-color: $val;
  }

  .u-text-#{$name} {
    color: $val;

    &--lighten {
      color: lighten($val, 25%);
    }

    &--darken {
      color: darken($val, 25%);
    }
  }
}
