/** Grid Utility 
* Naming Convention: Prefix With U
**/

$justify-values:(
  'center': 'center', 
  'left': 'flex-start',
  'right': 'flex-end',
  'around': 'space-around',
  'between': 'space-between',
  'evenly': 'space-evenly'
);


$alignments:(
  'center': 'center', 
  'top': 'flex-start',
  'bottom': 'flex-end',
  'stretch': 'stretch'
);



@each $justify, $value in $justify-values {
    .u-grid-justify--#{$justify} {
      justify-content: #{$value};
    }
}

@each $alignment, $value in $alignments {
    .u-grid-align--#{$alignment} {
      align-items: #{$value};
    }
}