/** Images Utility **/

.u-image {
  @extend .u-display--block;
  @extend .u-pos__is--relative;

  img {
    @extend .u-display--block;
    height: auto;
    width: 100%;
  }

  &__is {
    &--rounded {
      border-radius: $radii-rounded;
    }
    
    &--left {
      float: left;
    }

    &--right {
      float: right;
    }

    @each $dim, $val in $dimensions {
      &--#{$val}by#{$val} {
        $calc: $val * 1;
        width: #{$calc}px !important;
        height: #{$calc}px !important;
      }
    }
  }
}

