/** Lists Utility **/

 /** Lists Block  **/
.u-list {
  /** TODO:  Add Color Option on lists **/
	li {
		display: inline;
  }

  /** Lists Elemenets  **/
  &__no-type{
    list-style-type: none;
  }
  

  /** Lists modifiers **/
  /** FIXME: better Implementation of &--has-image 
  ** TODO: possibly loop over icons and dynamical create [FA ?]
  **/
  &--has-image {
    // list-style-image: url('./images/test.png');
  }

  &--block {
    @extend .u-display--block;
    padding: 0;
  }

  &--inline-block {
    @extend .u-display--inline-block;
    padding: 0;
  }

  &--inline {
    @extend .u-display--inline;
    padding: 0;
  }

  &--table {
    @extend .u-display--table;
    padding: 0;
  }
}