/** Lists Utility **/

 /** Lists Block  **/
.u-list {
  /** TODO:  Add Color Option on lists **/
	li {
		display: inline;
  }

  /** Lists Elemenets  **/
  &__circle {
    list-style-type: circle;
  }
  
  &__square {
    list-style-type: square;
  }
  
  &__roman {
    list-style-type: upper-roman;
  }
  
  &__alpha {
    list-style-type: lower-alpha;
  }


  /** Lists modifiers **/
  /** FIXME: better Implementation of &--has-image 
  ** TODO: possibly loop over icons and dynamical create [FA ?]
  **/
  &--has-image {
    // list-style-image: url('./images/test.png');
  }

  &--block {
    display: block;
    padding: 0;
  }

  &--inline-block {
    display: inline-block;
    padding: 0;
  }

  &--inline {
    display: inline;
    padding: 0;
  }

  &--table {
    display: table-cell;
    padding: 0;
  }
}