/* Tables */
.u-table {
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
}

td {
	white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;
  border: .5px solid #ebebeb;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}