$alignments:(
  'centered': 'center', 
  'justified': 'justify', 
  'left': 'left',
  'right': 'right'
);

@each $alignment, $text-align in $alignments {
  .has-text-#{$alignment} {
    text-align: #{$text-align} !important;
  }

  @include --breakpoint(mobile) {
    .has-text-#{$alignment}--mobile {
      text-align: #{$text-align} !important;
    }
  }

  @include --breakpoint(tablet) {
    .has-text-#{$alignment}--tablet {
      text-align: #{$text-align} !important;
    }
  }

  @include --breakpoint(desktop) {
    .has-text-#{$alignment}--desktop {
      text-align: #{$text-align} !important;
    }
  }
}

.is {
  &--uppercase {
    text-transform: uppercase !important;
  }

  &--capitalised {
    text-transform: capitalize !important;
  }

  &--lowercase {
    text-transform: lowercase !important;
  }

  &--italic {
    text-transform: italic !important;
  }

}

.has-font {
  &--normal {
    font-weight: normal;
  }

  &--weight {
    font-weight: $font__weight;
  }

  &--bold {
    font-weight: $font__weight--bold;
  }

  &--bolder {
    font-weight: $font__weight--bolder;
  }
}