/** Typography Utility **/
.u-has-font {
  &--normal {
    font-weight: normal;
  }

  &--weight {
    font-weight: $font__weight;
  }

  &--bold {
    font-weight: $font__weight--bold;
  }

  &--bolder {
    font-weight: $font__weight--bolder;
  }
}