<div class="container">
  <div class="row bg-jackpots">
    <div class="col-12">
      <h1 class="u-has-font--bold u-is--uppercase u-padding--lg text-jackpots-darken">Buttons</h1>
    </div>
  </div>
  <p>Default button classes</p>
  <div class="row">
    <div class="col-6">
      <a href="#" class="c-btn c-btn__default">Default</a>
      <a href="#" class="c-btn c-btn__primary">Primary</a>
      <a href="#" class="c-btn c-btn__success">Success</a>
      <a href="#" class="c-btn c-btn__warning">Warning</a>
      <a href="#" class="c-btn c-btn__danger">Danger</a>
    </div>
    <div class="col-6">
      <a href="#" class="c-btn c-btn--full c-btn__default">Default</a>
      <a href="#" class="c-btn c-btn__primary c-btn--full">Primary</a>
      <a href="#" class="c-btn c-btn__success c-btn--full">Success</a>
      <a href="#" class="c-btn c-btn__warning c-btn--full">Warning</a>
      <a href="#" class="c-btn c-btn__danger c-btn--full">Danger</a>
    </div>
  </div>

  <p>Button skewed</p>
  <div class="row">
    <div class="col-12">
      
      <button type="button" class="c-btn c-btn__skewed">Left default</button>
      <button type="button" class="c-btn c-btn__skewed c-btn--lg">Left large</button>
      <button type="button" class="c-btn c-btn__skewed c-btn--lg c-btn--opposite">Right large</button>
      <button type="button" class="c-btn c-btn__skewed c-btn--opposite">Right default</button>
    </div>
  </div>

  <p>Button sizing</p>
  <div class="row">

      <div class="col-6">
        <a href="#" class="c-btn c-btn__success c-btn--sm">Small</a>
        <a href="#" class="c-btn c-btn__warning c-btn--md">Default</a>
        <a href="#" class="c-btn c-btn__danger c-btn--lg">Large</a>
      </div>
      <br>
      <div class="col-6">
        <a href="#" class="c-btn c-btn__success c-btn--full c-btn--lg">Large</a>
        <a href="#" class="c-btn c-btn__warning c-btn--full c-btn--md">Mid</a>
        <a href="#" class="c-btn c-btn__danger c-btn--full c-btn--sm">Small</a>
      </div>

    </div>

    <p>Button expanded</p>
    <div class="row">
    <div class="col-12">
      <a href="#" class="c-btn c-btn__default c-btn--expanded">Expanded</a>
      <a href="#" class="c-btn c-btn__success c-btn--expanded">Expanded</a>
    </div>

  </div>
  <div class="row">
    <div class="col-8">
      <p>Button Feed</p>
      <div class="row">
        <div class="col-4">
          <button type="button" class="c-btn btn__success c-btn__feed">
            <div class="c-btn__feed--item">Team A Wins</div>
            <div class="c-btn__feed--item">Odds</div>
          </button>
        </div>
        <div class="col-2">
          <button type="button" class="c-btn btn__success c-btn__feed">
            <div class="c-btn__feed--item">Teams Draw</div>
            <div class="c-btn__feed--item">Odds</div>
          </button>
        </div>
        <div class="col-4">
          <button type="button" class="c-btn btn__success c-btn__feed">
            <div class="c-btn__feed--item">Team B Wins</div>
            <div class="c-btn__feed--item">Odds</div>
          </button>
        </div>
        <div class="col">
          <button type="button" class="c-btn btn__success c-btn__feed">
            <div class="c-btn__feed--item">Game 1</div>
            <div class="c-btn__feed--item">Odds</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>