<div class="container">
  <div class="row">
      <div class="col-12">
          <h1 class="font-bold">Buttons</h1>
          <p>Default button classes</p>
          
          <button class="btn btn-primary">Primary</button>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Primary<span class="nt">&lt;/button&gt;</span></code></pre></figure>
  
          <p>Button skewed</p>
          <div class="row">
              <div class="col">
                  <button type="button" class="btn-skewed">Left default</button>
              </div>
              <div class="col">
                  <button type="button" class="btn btn-skewed btn-lg-skew">Left large</button>
              </div>
              <div class="col">
                  <button type="button" class="btn btn-skewed-opposite btn-lg-skew">Right large</button>
              </div>
              <div class="col">
                  <button type="button" class="btn-skewed-opposite">Right default</button>
              </div>
          </div>
  
<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn-skewed"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Left default<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-skewed btn-lg-skew</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Left large<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn-skewed-opposite"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Right default<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-skewed-opposite btn-lg-skew</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Right large<span class="nt">&lt;/button&gt;</span></code></pre></figure>
  
          <p>Button types</p>
          <button href="#" class="btn btn-lg btn-primary">Large primary</button>
          <button href="#" class="btn btn-secondary btn-xs ">Small<br />Btn</button>
          <button href="#" class="btn btn-primary">Default primary</button>
          <button href="#" class="btn btn-sm btn-primary">Small primary</button>
          <button type="button" class="btn btn-link">Link</button>
  
<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-lg btn-primary"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Large primary<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-secondary btn-xs"</span> <span class="nt">&gt;</span>Small<span class="nt">&lt;br /&gt;</span>Btn<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Default primary<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-sm btn-primary"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Small primary<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"btn btn-link"</span><span class="nt">&gt;</span>Link<span class="nt">&lt;/button&gt;</span></code></pre></figure>
  
          <p>Betting Feed</p>
          <div class="row">
              <div class="col">
                  <button class="btn btn-lg btn-block btn-fd btn-primary">
                      <span class="float-left">Active example</span>&nbsp;<span class="float-right">Feed</span>
                  </button>
              </div>
              <div class="col">
                  <button class="btn btn-lg btn-block btn-fd btn-fd-primary">
                      <span class="float-left">Large Sport</span>&nbsp;<span class="float-right">Feed</span>
                  </button>
              </div>
              <div class="col">
                  <button class="btn btn-lg btn-block btn-fd btn-fd-primary">
                      <span class="float-left">Large Sport</span>&nbsp;<span class="float-right">Feed</span>
                  </button>
              </div>
  
              <div class="col-auto">
                  <button class="btn btn-secondary btn-xs ">Small<br />Btn</button>
              </div>
              <div class="col-auto">
                  <button class="btn btn-secondary btn-xs ">Small<br />Btn</button>
              </div>
          </div>
  
<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-lg btn-block btn-fd btn-fd-primary"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;span </span><span class="na">stlye=</span><span class="s">"float-left"</span><span class="nt">&gt;</span>Active example<span class="nt">&lt;/span&gt;</span><span class="nt">&lt;span </span><span class="na">stlye=</span><span class="s">"float-right"</span><span class="nt">&gt;</span>Tertiary<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;/button&gt;</span>

<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-secondary btn-xs"</span> <span class="nt">&gt;</span>Small<span class="nt">&lt;br /&gt;</span>Btn<span class="nt">&lt;/button&gt;</span></code></pre></figure>
  
          <p>Button expanded</p>
          <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
  
<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-primary btn-lg btn-block"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Block level button<span class="nt">&lt;/button&gt;</span></code></pre></figure>
      </div>
  </div>
</div>