<div class="row">
  <div class="col-12">
      <h1 class="heading">Component Playground</h1>
      <p class="text">A basic CSS framework with generic and reusable components.</p>
      <p class="text">It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn" href="#" role="button" routerLinkActive="active" routerLink="grid">Learn more</a>
  </div>
  <div>
    <a class="c-btn c-btn__link" href="#" role="button" routerLinkActive="active" routerLink="button">Buttons</a>
  </div>
  <div>
      <a class="c-btn c-btn__link" href="#" role="button" routerLinkActive="active" routerLink="typography">Typography</a>
    </div>
</div>
