.mw-100 {
    max-width: 100%;
}

.box {
    margin: 5px 0;
    width: 100%;
    background-color: #439539;
    border-radius: 2px;
    padding: 15px;
}

.box_secondary {
    background-color: #0054a4;
}

.bd-example {
    color: #f2f2f2;
}