@mixin animate( $property: all, $duration: $b-animation__duration, $easing: $b-animation__timming ) {
  -webkit-transition: $property $duration $easing;
  -moz-transition: $property $duration $easing;
  -o-transition: $property $duration $easing;
  transition: $property $duration $easing;
}
