@mixin transition($property...) {
  -webkit-transition: $property $animation__duration $animation__timming;
  -moz-transition: $property $animation__duration $animation__timming;
  -o-transition: $property $animation__duration $animation__timming;
  transition: $property $animation__duration $animation__timming;
}

@mixin animation($keyframe) {
  -webkit-animation: $keyframe $loading__duration $animation__timming infinite;
  -moz-animation: $keyframe $loading__duration $animation__timming infinite;
  -o-animation: $keyframe $loading__duration $animation__timming infinite;
  animation: $keyframe $loading__duration $animation__timming infinite
}


@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}