%button {
  padding: 8px;
  font-size: $font__size;
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  transition: $animation__duration $animation__timming;
  transition-property: background-color, color;
  // @include animate(background-color, color);
  border: ($border-radii - 2) solid transparent;
  font-weight: $font__weight;

  &:focus {
      outline: none;
  }
}

@mixin hover() {
  &:hover {
    @content;
  }
}

@mixin focus() {
  &:focus {
    @content;
  }
}