%button {
  border: ($border-radii - 2) solid transparent;
  cursor: pointer;
  display: inline-block;
  font-size: $font__size;
  font-weight: $font__weight;
  line-height: $font__line-height;
  text-align: center;
  padding: 8px;
  position: relative;
  text-decoration: none;
  transition: $animation__duration $animation__timming;
  transition-property: background-color, color;
  vertical-align: middle;

  &:focus {
    outline: none;
  }
}

@mixin hover() {
  &:hover {
    @content;
  }
}

@mixin focus() {
  &:focus {
    @content;
  }
}

@mixin loader () {
  background: transparent;
  border: 1px solid $body-color;
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  content: '';
  display: inherit;
  margin: $loader__margin;
  padding: $loader__padding;
}
  

%loader {
  @include loader();
}