/** TODO: Move this mixins to functions scss **/
@function halve ($size) {
  @return $size / 2;
}

@function double ($size) {
  @return $size * 2;
}

@function quarter ($size) {
  @return halve($size) / 2;
}

@mixin vertical-margin {
  &--margin-none {
    margin-top: 0;
    margin-bottom: 0;
  }

  &--margin-small {
    margin-top: halve($base-spacing-unit);
    margin-bottom: halve($base-spacing-unit);
  }

  &--margin-medium {
    margin-top: $base-spacing-unit;
    margin-bottom: $base-spacing-unit;
  }

  &--margin-large {
    margin-top: double($base-spacing-unit);
    margin-bottom: double($base-spacing-unit);
  }
}

@mixin margin {
  &--margin-none {
    margin: 0px;
  }

  &--margin-small {
    margin: halve($base-spacing-unit);
  }

  &--margin-medium {
    margin: $base-spacing-unit;
  }

  &--margin-large {
    margin: double($base-spacing-unit);
  }

  @include --breakpoint(mobile) {
    &--margin-small {
      margin: quarter($base-spacing-unit);
    }

    &--margin-medium {
      margin: halve($base-spacing-unit);
    }

    &--margin-large {
      margin: $base-spacing-unit;
    }
  }

  &--margin-horizontal-none {
    margin-left: 0px;
    margin-right: 0px;
  }

  &--margin-horizontal-small {
    margin-left: halve($base-spacing-unit);
    margin-right: halve($base-spacing-unit);
  }

  &--margin-horizontal-medium {
    margin-left: $base-spacing-unit;
    margin-right: $base-spacing-unit;
  }

  &--margin-horizontal-large {
    margin-left: double($base-spacing-unit);
    margin-right: double($base-spacing-unit);
  }

  @include --breakpoint(mobile) {
    &--margin-horizontal-small {
      margin-left: quarter($base-spacing-unit);
      margin-right: quarter($base-spacing-unit);
    }

    &--margin-horizontal-medium {
      margin-left: halve($base-spacing-unit);
      margin-right: halve($base-spacing-unit);
    }

    &--margin-horizontal-large {
      margin-left: $base-spacing-unit;
      margin-right: $base-spacing-unit;
    }
  }

  &--margin-vertical-none {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  &--margin-vertical-small {
    margin-top: halve($base-spacing-unit);
    margin-bottom: halve($base-spacing-unit);
  }

  &--margin-vertical-medium {
    margin-top: $base-spacing-unit;
    margin-bottom: $base-spacing-unit;
  }

  &--margin-vertical-large {
    margin-top: double($base-spacing-unit);
    margin-bottom: double($base-spacing-unit);
  }

  @include --breakpoint(mobile) {
    &--margin-vertical-small {
      margin-top: quarter($base-spacing-unit);
      margin-bottom: quarter($base-spacing-unit);
    }

    &--margin-vertical-medium {
      margin-top: halve($base-spacing-unit);
      margin-bottom: halve($base-spacing-unit);
    }

    &--margin-vertical-large {
      margin-top: $base-spacing-unit;
      margin-bottom: $base-spacing-unit;
    }
  }

  &--margin-left-none {
    margin-left: 0px;
  }

  &--margin-left-small {
    margin-left: halve($base-spacing-unit);
  }

  &--margin-left-medium {
    margin-left: $base-spacing-unit;
  }

  &--margin-left-large {
    margin-left: double($base-spacing-unit);
  }

  @include --breakpoint(mobile) {
    &--margin-left-small {
      margin-left: quarter($base-spacing-unit);
    }

    &--margin-left-medium {
      margin-left: halve($base-spacing-unit);
    }

    &--margin-left-large {
      margin-left: $base-spacing-unit;
    }
  }

  &--margin-right-none {
    margin-right: 0px;
  }

  &--margin-right-small {
    margin-right: halve($base-spacing-unit);
  }

  &--margin-right-medium {
    margin-right: $base-spacing-unit;
  }

  &--margin-right-large {
    margin-right: double($base-spacing-unit);
  }

  @include --breakpoint(mobile) {
    &--margin-right-small {
      margin-right: quarter($base-spacing-unit);
    }

    &--margin-right-medium {
      margin-right: halve($base-spacing-unit);
    }

    &--margin-right-large {
      margin-right: $base-spacing-unit;
    }
  }

  &--margin-top-none {
    margin-top: 0px;
  }

  &--margin-top-small {
    margin-top: halve($base-spacing-unit);
  }

  &--margin-top-medium {
    margin-top: $base-spacing-unit;
  }

  &--margin-top-large {
    margin-top: double($base-spacing-unit);
  }

  @include --breakpoint(mobile) {
    &--margin-top-small {
      margin-top: quarter($base-spacing-unit);
    }

    &--margin-top-medium {
      margin-top: halve($base-spacing-unit);
    }

    &--margin-top-large {
      margin-top: $base-spacing-unit;
    }
  }

  &--margin-bottom-none {
    margin-bottom: 0px;
  }

  &--margin-bottom-small {
    margin-bottom: halve($base-spacing-unit);
  }

  &--margin-bottom-medium {
    margin-bottom: $base-spacing-unit;
  }

  &--margin-bottom-large {
    margin-bottom: double($base-spacing-unit);
  }

  @include --breakpoint(mobile) {
    &--margin-bottom-small {
      margin-bottom: quarter($base-spacing-unit);
    }

    &--margin-bottom-medium {
      margin-bottom: halve($base-spacing-unit);
    }

    &--margin-bottom-large {
      margin-bottom: $base-spacing-unit;
    }
  }
}