@mixin links( $normal, $visited: $hover-color, $hover: $hover-color ) {
  &:visited {
    color: $visited;
  }
  &:hover, &:active, &:focus {
    color: $hover;
  }
}

@mixin shadow( $x, $y, $blur: 0, $spread: 0, $color: $shadow-color, $to: 0 ) {
  @if ($to > 0) {
    -webkit-box-shadow: $x $y $blur $spread $color, 0 0 1px 0 $color;
    -moz-box-shadow: $x $y $blur $spread $color, 0 0 1px 0 $color;
    box-shadow: $x $y $blur $spread $color, 0 0 1px 0 $color;
  } @else {
    -webkit-box-shadow: $x $y $blur $spread $color;
    -moz-box-shadow: $x $y $blur $spread $color;
    box-shadow: $x $y $blur $spread $color;
  }
}