<div class="container">
    <form>
      <div class="row">
        <div class="col-12">
          <h1 class="u-has-font--bold">Forms</h1>
          <label class="c-label c-label--no-b-color">Input Label
            <input type="text" placeholder="col-12"/>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>Input Label
            <input type="text" placeholder="col-4"/>
          </label>
        </div>
        <div class="col-4">
          <label>Input Label
            <input type="text" placeholder="col-4"/>
          </label>
        </div>
        <div class="col-4">
          <label>Input Label
            <input type="text" placeholder="col-4"/>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label>Select option
            <select>
              <option value="sample">col-6</option>
              <option value="sample">col-6</option>
            </select>
          </label>
        </div>
        <div class="col-6">
          <label>Select option
            <select>
                <option value="sample">col-6</option>
                <option value="sample">col-6</option>
            </select>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label>Radio buttons</label>
          <input id="radioYes" type="radio" name="radio" value="Yes">
          <label for="radioYes">Yes</label>
          <input id="radioNo" type="radio" name="radio" value="No">
          <label for="radioNo">No</label>
        </div>
        <div class="col-6">
          <label>Checkbox buttons</label>
          <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
          <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label>Textarea Label
            <textarea placeholder="col-12"></textarea>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <input type="submit" class="c-btn c-btn__success" value="Submit">
          <input type="submit" class="c-btn c-btn__danger" value="Reset">
        </div>
      </div>
    </form>
  </div>