<div class="container">
  <div class="row bg-dealer u-margin--btm-md">
    <div class="col-12">
      <h1 class="u-has-font--bolder u-is--uppercase u-margin--btm-sm u-padding--sm u-padding--none text-dealer-lighten">Cards</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="c-card">
        <div class="c-card__content">
          <p class="c-card__content--title">
            Betslip is currently empty
          </p>
          <p class="c-card__content--subtitle">
            Betslip is currently empty
          </p>
        </div>
        <footer class="c-card__footer">
          <p class="c-card__footer--item">
            <a class="c-btn c-btn__success c-btn--full c-btn--large" href="#">Single Bets</a>
          </p>
          <p class="c-card__footer--item">
            <a class="c-btn c-btn__warning--outline c-btn--full c-btn--large" href="#">Multi Bets</a>
          </p>
        </footer>
      </div>
    </div>
    <div class="col-6">
      <div class="c-card">
        <header class="c-card__header">
          <p class="c-card__header--title">
            Betslip
          </p>
          <a href="#" class="card__header--icon" aria-label="more options">
            <span class="icon">
              ^
            </span>
          </a>
        </header>
        <div class="c-card__content">
          <p class="c-card__content--title c-panel__danger c-panel--round">
            Betslip is currently empty
          </p>
          <p class="c-card__content--subtitle">
            Betslip is currently empty
          </p>
        </div>
        <footer class="c-card__footer">
          <p class="c-card__footer--item">
            <span>
              Single Bets
            </span>
          </p>
          <p class="c-card__footer--item">
            <span>
              Multi Bets
            </span>
          </p>
        </footer>
      </div>
    </div>
    <div class="col-3">
        <div class="c-card">
          
          <div class="c-card__image">
              <figure class="u-image">
                <img class="is--rounded u-image__is--128by128" src="https://cms1.gmgamingsystems.com/medialibraries/betway.lat/betway.lat/Promotions/BW_LAT_351x171_LuckyDraw.jpg" alt="Placeholder image">
              </figure>
          </div>
  
          <div class="c-card__content">
            <p class="c-card__content--title">
              Betslip is currently empty
            </p>
            <p class="c-card__content--subtitle">
              Betslip is currently empty
            </p>
          </div>
          <footer class="c-card__footer">
            <p class="c-card__footer--item">
              <a class="c-btn c-btn__success c-btn--full c-btn--large" href="#">Single Bets</a>
            </p>
            <p class="c-card__footer--item">
              <a class="c-btn c-btn__warning--outline c-btn--full c-btn--large" href="#">Multi Bets</a>
            </p>
          </footer>
        </div>
      </div>
  </div>
</div>
