<div class="container">
  <div class="row u-bg-primary u-margin--btm-md">
    <div class="col-12">
      <h1 class="u-has-font--bolder u-is--uppercase u-padding--sm u-padding--none u-text-primary-lighten">Accordions</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Default Accordions</h2>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col u-padding--btm-md">
      <div class="c-accordion">
        <input type="checkbox" id="a" class="c-accordion--toggle">
        <label for="a" class="c-accordion__label">This is an open example</label>
        <div class="c-accordion__content">
          <div class="c-accordion__body">
            <p>
              <a class="c-btn__link" href="https://www.betway.co.za/">Lorem ipsum dolor sitamet</a>, consectetur adipiscing
              elit. Nam rutrum erat sit amet justo vestibulum volutpat. Suspendisse dignissim suscipit massa, ac maximus ex viverra
              nec. Ut id leo porttitor, feugiat odio id, malesuada felis. Cras pulvinar, mauris ac mollis feugiat, sem erat dictum
              orci, a aliquam sem felis vestibulum augue.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col u-padding--btm-md">
      <div class="c-accordion u-border">
        <input type="checkbox" id="b" class="c-accordion--toggle">
        <label for="b" class="c-accordion__label">This is an open example</label>
        <div class="c-accordion__content">
          <div class="c-accordion__body">
            <p>
              <a class="c-btn__link" href="https://www.betway.co.za/">Lorem ipsum dolor sitamet</a>, consectetur adipiscing
              elit. Nam rutrum erat sit amet justo vestibulum volutpat. Suspendisse dignissim suscipit massa, ac maximus ex viverra
              nec. Ut id leo porttitor, feugiat odio id, malesuada felis. Cras pulvinar, mauris ac mollis feugiat, sem erat dictum
              orci, a aliquam sem felis vestibulum augue.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
      <h2>Customizable Accordions</h2>
      <hr>
    </div>
  </div>

  <div class="row">
      <div class="col u-padding--btm-md">
        <div class="c-accordion">
          <input type="checkbox" id="c" class="c-accordion--toggle">
          <label for="c" class="c-accordion__label u-bg-primary">This is an open example</label>
          <div class="c-accordion__content u-bg-primary">
            <div class="c-accordion__body">
              <p>
                <a class="c-btn__link" href="https://www.betway.co.za/">Lorem ipsum dolor sitamet</a>, 
                consectetur adipiscing elit. Nam rutrum erat sit amet justo vestibulum volutpat. Suspendisse dignissim
                suscipit massa, ac maximus ex viverra nec. Ut id leo porttitor, feugiat odio id, malesuada felis. Cras pulvinar,
                mauris ac mollis feugiat, sem erat dictum orci, a aliquam sem felis vestibulum augue.
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col u-padding--btm-md">
          <div class="c-accordion">
            <input type="checkbox" id="d" class="c-accordion--toggle">
            <label for="d" class="c-accordion__label u-bg-inplay">This is an open example</label>
            <div class="c-accordion__content u-bg-inplay">
              <div class="c-accordion__body">
                <p>
                  <a class="c-btn__link" href="https://www.betway.co.za/">Lorem ipsum dolor sitamet</a>, 
                  consectetur adipiscing elit. Nam rutrum erat sit amet justo vestibulum volutpat. Suspendisse dignissim
                  suscipit massa, ac maximus ex viverra nec. Ut id leo porttitor, feugiat odio id, malesuada felis. Cras pulvinar,
                  mauris ac mollis feugiat, sem erat dictum orci, a aliquam sem felis vestibulum augue.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col u-padding--btm-md">
            <div class="c-accordion">
              <input type="checkbox" id="dd" class="c-accordion--toggle" disabled>
              <label for="dd" class="c-accordion__label">This is disabled example</label>
              <div class="c-accordion__content u-bg-inplay">
                <div class="c-accordion__body">
                  <p>
                    <a class="c-btn__link" href="https://www.betway.co.za/">Lorem ipsum dolor sitamet</a>, 
                    consectetur adipiscing elit. Nam rutrum erat sit amet justo vestibulum volutpat. Suspendisse dignissim
                    suscipit massa, ac maximus ex viverra nec. Ut id leo porttitor, feugiat odio id, malesuada felis. Cras pulvinar,
                    mauris ac mollis feugiat, sem erat dictum orci, a aliquam sem felis vestibulum augue.
                  </p>
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="row">
      <div class="col">
        <hr>
        <h2>Customizable Opened Accordions With status</h2>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col u-padding--btm-md">
        <div class="c-accordion u-bg-success">
          <input type="checkbox" id="e" class="c-accordion--toggle" checked>
          <label for="e" class="c-accordion__label">This is an open example</label>
          <div class="c-accordion__content u-bg-wtrans">
            <div class="c-accordion__body">
              <p>
                <a class="c-btn__link" href="https://www.betway.co.za/">Lorem ipsum dolor sitamet</a>, consectetur adipiscing
                elit. Nam rutrum erat sit amet justo vestibulum volutpat. Suspendisse dignissim suscipit massa, ac maximus ex
                viverra nec. Ut id leo porttitor, feugiat odio id, malesuada felis. Cras pulvinar, mauris ac mollis feugiat,
                sem erat dictum orci, a aliquam sem felis vestibulum augue.
              </p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col u-padding--btm-md">
        <div class="c-accordion u-border u-bg-warning">
          <input type="checkbox" id="f" class="c-accordion--toggle" checked>
          <label for="f" class="c-accordion__label">This is an open example</label>
          <div class="c-accordion__content u-bg-wtrans">
            <div class="c-accordion__body">
              <p>
                <a class="c-btn__link" href="https://www.betway.co.za/">Lorem ipsum dolor sitamet</a>, consectetur adipiscing
                elit. Nam rutrum erat sit amet justo vestibulum volutpat. Suspendisse dignissim suscipit massa, ac maximus ex
                viverra nec. Ut id leo porttitor, feugiat odio id, malesuada felis. Cras pulvinar, mauris ac mollis feugiat,
                sem erat dictum orci, a aliquam sem felis vestibulum augue.
              </p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col u-padding--btm-md">
        <div class="c-accordion u-border u-bg-info">
          <input type="checkbox" id="g" class="c-accordion--toggle" checked>
          <label for="g" class="c-accordion__label">This is an open example</label>
          <div class="c-accordion__content u-bg-wtrans">
            <div class="c-accordion__body">
              <p>
                <a class="c-btn__link" href="https://www.betway.co.za/">Lorem ipsum dolor sitamet</a>, consectetur adipiscing
                elit. Nam rutrum erat sit amet justo vestibulum volutpat. Suspendisse dignissim suscipit massa, ac maximus ex
                viverra nec. Ut id leo porttitor, feugiat odio id, malesuada felis. Cras pulvinar, mauris ac mollis feugiat,
                sem erat dictum orci, a aliquam sem felis vestibulum augue.
              </p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col u-padding--btm-md">
        <div class="c-accordion u-border u-bg-danger">
          <input type="checkbox" id="h" class="c-accordion--toggle" checked>
          <label for="h" class="c-accordion__label">This is an open example</label>
          <div class="c-accordion__content u-bg-wtrans">
            <div class="c-accordion__body">
              <p>
                <a class="c-btn__link" href="https://www.betway.co.za/">Lorem ipsum dolor sitamet</a>, consectetur adipiscing
                elit. Nam rutrum erat sit amet justo vestibulum volutpat. Suspendisse dignissim suscipit massa, ac maximus ex
                viverra nec. Ut id leo porttitor, feugiat odio id, malesuada felis. Cras pulvinar, mauris ac mollis feugiat,
                sem erat dictum orci, a aliquam sem felis vestibulum augue.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr>
        <h2>Accordions with border</h2>
        <hr>
      </div>
    </div>
    
    <div class="row">
      <div class="col u-padding--btm-md">
        <div class="c-accordion u-border">
          <input type="checkbox" id="i" class="c-accordion--toggle">
          <label for="i" class="c-accordion__label u-bg-sports">This is an open example</label>
          <div class="c-accordion__content">
            <div class="c-accordion__body">
              <p>
                <a class="c-btn__link" href="https://www.betway.co.za/">Lorem ipsum dolor sitamet</a>, consectetur adipiscing
                elit. Nam rutrum erat sit amet justo vestibulum volutpat. Suspendisse dignissim suscipit massa, ac maximus ex viverra
                nec. Ut id leo porttitor, feugiat odio id, malesuada felis. Cras pulvinar, mauris ac mollis feugiat, sem erat dictum
                orci, a aliquam sem felis vestibulum augue.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>