/* Form */

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;

	&::-ms-expand {
		display: none;
	}
}

textarea {
	padding: 10px;
	line-height: $font__line-height;
}

label {
	display: block;

	input[type="radio"] + &,
	input[type="checkbox"] + & {
		display: inline-block;
	}
}

@include input-placeholder {
	color: $b-dark-grey;
}